#body-area{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 60px 100px;
}

#company-name{
    height: 40px;

    font-size: 20px;
    font-weight: bold;

    color: rgba(46, 45, 45, 0.904);
    line-height: 40px;
}

.info{
    height: 40px;
    line-height: 40px;
}

.info span{
    margin-right: 10px;
    line-height: 40px;

    font-weight: bold;
}

#explain{
    padding-top: 10px;
    height: 200px;
}

#content{
    padding-top: 10px;
    height: 350px;
}

#main-area{
    border: 1px solid black;
    
    width: 780px;
    height: 950px;
    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: var(--bg-color-2);
    transition-duration: 0.5s;    

    justify-content: center;
}

#main-area > div{
    margin-top: 10px;
    margin-left: 35px;

    /* background-color: #dddddd6b; */


    border: 1px solid #a0a0a06b;
    border-radius: 5px;

    width: 700px;

    padding-left: 15px;

}

#title3{
    font-size: 35px;
    font-weight: bold;

    margin-left: 40px;
    margin-bottom: 30px;
    margin-top: 50px;
}

#Btn{
    width: 600px;
    height: 40px;

    background-color: rgb(59, 59, 59);
    color: white;
    border: none;
    border-radius: 5px;

    margin-left: 90px;
    margin-top: 20px;
}

i{
    margin-left: 8px;
    margin-right: 5px;
}

#sub{
    margin-top: 15px;
    margin-left: 590px;
}

button{
    width: 70px;
    height: 30px;

    margin-right: 5px;
}

button:hover{
    cursor: pointer;
    background-color: rgba(54, 54, 54, 0.808);
    color: white;
}
