#body-area{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 60px 100px;
}

#companyNameImg{
    height: 100px;

    font-size: 20px;
    font-weight: bold;

    color: rgba(46, 45, 45, 0.904);
    line-height: 40px;

    display:flex;
    justify-content: flex-start;
    align-items: center;
    border: 0 !important;
    padding-left:5px !important;

}

.companyName{
    margin-left:10px;
    width:650px;
    height:85px;
    outline:none;
    border: 1px solid #a0a0a06b !important;
    border-radius: 5px;
    font-size:20px;

}

input{
    border:0 !important;
    outline:none !important;

}

::placeholder{
    font-size:18px;
}

#cmpnIntro{
    width:100%;
    height:100%;
    resize:none;
    border:0;
    outline:none;
}

textarea::placeholder{
    text-align: center;
    line-height: 240px; /* 원하는 높이에 따라 조절하세요 */
}

.info{
    height: 70px;
    line-height: 40px;
    display: flex;
    align-items: center;
    font-size:16px;
    font-weight: bold;
    justify-content: flex-start;
}

#tel{
    margin-left:20px;
}


.info2{
    height: 70px;
    line-height: 40px;
    display: flex;
    align-items: center;
    font-size:16px;
    justify-content: center;
}

.info2 div{
    margin-right: 10px;
    line-height: 40px;
    font-weight: bold;
    width:40%;
}

.info2 input{
    width:200px;
}

#explain{
    padding-top: 10px;
    height: 280px;
}

#content{
    padding-top: 10px;
    height: 350px;
}

#formApl{
    display:flex;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
}

#main-area{
    border: 1px solid black;
    width: 780px;
    height: 780px;
    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: var(--bg-color-2);
    transition-duration: 0.5s;    
    justify-content: center;
}

#main-area > div{
    margin: 20px 0;
    margin-left: 35px;
    /* background-color: #dddddd6b; */
    display:flex;
    border: 1px solid #a0a0a06b;
    border-radius: 5px;
    width: 700px;
    padding-left: 15px;
}

#title3{
    font-size: 35px;
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: 15px;
    margin-top: 25px !important;
    border: 0 !important;
    padding-left:5 !important;
}

#Btn{
    width: 600px;
    height: 40px;

    background-color: rgb(59, 59, 59);
    color: white;
    border: none;
    border-radius: 5px;

    margin-left: 90px;
    margin-top: 20px;
}

i{
    margin-left: 8px;
    margin-right: 5px;
}

#sub{
    margin-top: 5px;
    margin-left: 590px;
}

button{
    width: 70px;
    height: 30px;

    margin-right: 5px;
}

button:hover{
    cursor: pointer;
    background-color: rgba(54, 54, 54, 0.808);
    color: white;
}
.img-box{
    display: flex;
}

/* 이미지를 감싸는 div */
.boardImg{
    width: 85px;
    height: 85px;
    display: inline-block;
    text-align: center;
    position: relative;
    border-radius: 10px;
    
}

.boardImg > label{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 10px;
}

.inputImage{
    display: none;
}

/* 이미지 */
.boardImg img{
    max-width: 100%;
    max-height: 100%;
}

/* 삭제 버튼 */
.delete-image{
    position: absolute;
    top: -8px;
    right: 7px;
    font-size: 12px;
    cursor: pointer;
}

