main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#slide-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 370px;
    width: 100%;
    margin-top: 15px;
    overflow: hidden;
}

#slide-container {
    position: absolute;
    display: flex;
    align-items: center;
    height: 360px;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 600px;
    height: 240px;
    border-radius: 10px;
    margin: 0 10px;
    background: linear-gradient(90deg, rgba(200, 100, 255, 0.5), rgba(0, 128, 255, 0.5));
    color: rgba(255, 255, 255, 0.3);
    font-size: 10rem;
    font-weight: 600;
    cursor: pointer;
}

.slide:nth-last-of-type(3) {
    margin: 0 160px;
    scale: 1.5;
}

#slide-bullet-container {
    display: flex;
    margin-top: 10px;
}

.slide-bullet {
    width: 12px;
    height: 12px;
    margin: 0 4px;
    border-radius: 50%;
    background-color: rgb(180, 180, 180);
    transition-duration: 0.5s;
} html.dark .slide-bullet {
    background-color: rgb(100, 100, 100);
}

#content {
    display: flex;
    margin-top: 20px;
}

#feeds {
    display: flex;
    flex-direction: column;
    width: 576px;
}

#feeds > div {
    padding: 15px;
    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

#feeds > div:not(div:first-of-type) {
    margin-top: 10px;
}

#side {
    width: 324px;
    height: 512px;
    margin-left: 20px;
    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.feed .member {
    display: flex;
}

.feed .profile {
    width: 60px;
    height: 60px;
    border: 1px solid var(--divider);
    border-radius: 50%;
    background-color: var(--divider);
    overflow: hidden;
}

.feed .profile > img {
    height: 100%;
}

.feed .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.feed .nickname {
    font-size: 20px;
    font-weight: 500;
}

.feed .relation {
    font-size: 12px;
}

.feed .create-date {
    margin: auto;
    margin-top: 0;
    margin-right: 0;
    font-size: 14px;
}

.feed .head {
    margin-top: 20px;
}

.feed .content {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--divider);
}

.feed .interaction {
    display: flex;
    height: 30px;
    margin-top: 20px;
    font-size: 14px;
}

.feed .like {
    margin-right: 10px;
}

.feed .comment {
    margin-right: 10px;
}

.feed .bookmark {
    margin: auto;
    margin-right: 0;
}