* {
    box-sizing: border-box;
    /* border: 1px solid gainsboro ; */
}


/* 스터디 전체 div */
.P-header {
    width: 1000px;
    margin: auto ;
    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: var(--bg-color-2);
    transition-duration: 0.5s;

}

.P-main {

    width: 900px;
    margin: 30px auto;

}

.h2{
    text-align: center;
}

.TOP{
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 25px;
    margin: 30px;
}

/* 스터디 상단 내용 */
.P-mainImage-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 스터디 이미지 */
#P-studylogo {
    width: 120px;
    height: auto;
    margin: 0 15px;
}

/* 모집글 버튼 */
#P-study-btn {
    background-color: #007bff; 
    margin-left: 100px;
    color: white; 
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; /* 부드러운 hover 효과 추가 */

}

#P-study-btn:hover {
    background-color: #0056b3; 
}


/* 최신순/인기순 */
.P-study-btn-area {
    gap: 10px;

}

.P-study-btn-area button {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.P-study-btn-l:hover{
    color: rgb(0, 128, 255);
}

.P-study-btn-p:hover{
    color: rgb(0, 128, 255);
}


/* 스터디 모집  */
.P-study{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

/* 스터디 모집 개별 */
.P-study-area{
    margin:10px auto;
    cursor: pointer;
    padding: 10px;

    border-bottom: 1px solid rgba(128, 128, 128, 0.24);
}
.P-study-area:hover{

    margin:10px auto;
    cursor: pointer;
    background-color: aliceblue;
}

/* 프로젝트 상단 */
.P-study-main{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 10px 0;
}

/* 프로젝트 분류 + 하트 */
.P-study-category {
    background-color: #ccc;
    width: 140px;
    border-radius: 18px;
    font-weight: bold;
    text-align: center;
    padding: 2px;
    
}

/* 제목 */
.P-study-title{
    display: flex;
    margin: 15px 10px;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;  		
    text-overflow: ellipsis;  	
    white-space: nowrap; 		
    word-break:break-all
}

.P-study-title span{
    display: inline-block;
    margin: 0 3px;
    color: royalblue;
}

/* 내용 */
.P-study-content{
    display: flex;
    margin: 10px 10px;
    overflow: hidden;  		
    text-overflow: ellipsis;  	

}

/* 좋아요 댓글 수 */
.P-study-common{
    display: flex;
    padding: 0;
    margin-bottom: 10px;
}
.P-study-common span {
    width: 100px;
    display: inline-block;
    font-weight: bold;
    padding: 0 10PX;
}

/* 인기 있는 스터디  */
.P-study-popular{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.P-study-popular h1{
    margin:15px 10px;
}

.P-study-popular h4{
    margin:15px 10px;
}


/* 화살표 */
.fa-solid.fa-arrow-left {
    padding: 8px; 
    margin-right: 10px;
    margin-bottom: 5px;
}

.fa-solid.fa-arrow-right {
    padding: 8px; 
    margin-right: 10px;
}

/* 미리보기 스터디 */
.P-study-popular-area{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;

}

.P-study-popular-container{
    width: 48%;
    background-color: #fafafa;
    border-radius: 8px;
    border:0.0625rem solid #f2f2f2 ;
    height: 130px;
    margin: 10px;
}

.P-study-popular-container-f{
    margin: 15px;
}

.P-study-popular-category{
    background-color: #ccc;
    width: 130px;
    font-size: 13px;
    border-radius: 18px;
    font-weight: bold;
    text-align: center;
    padding: 2px;
}

.P-study-popular-title{
    display: flex;
    margin: 13px 0;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;  		
    text-overflow: ellipsis;  	
    white-space: nowrap; 		
    word-break:break-all
}

.P-study-popular-content{
    display: flex;
    margin: 10px 10px;
	
    overflow:hidden; 
    text-overflow:ellipsis; 
    white-space:nowrap;
}

#search{
    display: flex;
    justify-content: space-between;
}

/* 검색 영역 */
#search-area {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 80px;
}

/* 검색 박스 */
#search-box {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
    width: 500px;
    height: 40px;
}

/* 검색 아이콘 */
#search-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* 검색 입력 필드 */
#search-input {
     border: none;
    outline: none;
    font-size: 14px;
    background-color: white;
    width: 100%; 
}


#searchBtn {
    padding: 10px 20px; 
    width: 110px; 
    border-radius: 18px;
    border: none;
    background-color: rgb(0, 128, 255);
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.3s; /* 부드러운 hover 효과를 위해 트랜지션 추가 */
}

#searchBtn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 128, 255);
    font-size: 14px;
    font-weight: bold;
    border: 1px solid rgb(0, 128, 255);
}


#search-tag {
    width: 100%;
    margin-top: 10px;
    text-align: right;
    margin: 10px 400px 0 0;
}

#search-tag > a {
    padding: 4px 10px;
    border: solid 1px rgb(210, 210, 210);
    margin: 4px;
    border-radius: 20px;
    font-size: 0.8rem;
    cursor: pointer;
}

#search-tag > a:hover {
    border-color: rgb(0, 128, 255);
    color: rgb(0, 128, 255);
}



.P-body-category-area {
    margin: 10px 10px 5px 30px;
    display: flex;

}

/* 역할 select 영역 */
.P-body-category-role {
    width: 33.3%;
    margin-right: 20px;
    position: relative;
}

/* 역할 버튼 */
.P-body-category-btn {
    width: 100%;

    padding: 12px 14px;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    background-color: #fff;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;

    /* 말줄임 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    justify-content: space-between;
    display: flex;
    
}

/* 역할 버튼 클릭 시 나타나는 화면*/
.P-selectBox-role {
    width: 100%;
    padding: 12px 14px;
    font-size: 12px;
    line-height: 14px;
    background-color: #fff;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
}


.menuHidden{
    display: none;
    transition-duration: 1ms;
}

.P-selectBox-role>li {
    list-style: none;
    height: 30px;
}

.P-option-btn {
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
    cursor: pointer;
}

.P-option-btn:hover {
    cursor: pointer;
    background-color: #cccccc98;
}


/* 역할 select 영역 */
.P-body-category-role {
    width: 33.3%;
    margin-right: 20px;
}

/* 역할 버튼 */
.P-body-category-btn {
    width: 100%;

    padding: 12px 14px;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    background-color: #fff;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;

    /* 말줄임 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    justify-content: space-between;
    display: flex;
}

/* 역할 버튼 클릭 시 나타나는 화면*/
.P-selectBox-role {
    width: 100%;
    padding: 12px 14px;
    font-size: 12px;
    line-height: 14px;
    background-color: #fff;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    cursor: pointer;
}


/* .menuHidden{
    display: none;
    transition-duration: 1ms;
} */

.P-selectBox-role>li {
    list-style: none;
    height: 30px;
}

.P-option-btn {
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
    cursor: pointer;
}

.P-option-btn:hover {
    cursor: pointer;
    background-color: #cccccc98;
}


/* 목적 select 영역 */
.P-body-category-purpose {
    width: 33.3%;
    margin-right: 20px;
    position: relative;
}

/* 역할 버튼 */
.P-body-purpose-btn {
    width: 100%;

    padding: 12px 14px;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    background-color: #fff;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;

    /* 말줄임 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    justify-content: space-between;
    display: flex;
}

/* 역할 버튼 클릭 시 나타나는 화면*/
.P-selectBox-purpose {
    width: 100%;
    padding: 12px 14px;
    font-size: 12px;
    line-height: 14px;
    background-color: #fff;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
}


/* .menuHidden{
    display: none;
    transition-duration: 1ms;
} */

.P-selectBox-purpose>li {
    list-style: none;
    height: 30px;
}

.P-option-btn {
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
    cursor: pointer;
}

.P-option-btn:hover {
    cursor: pointer;
    background-color: #cccccc98;
}




/* 인원 select 영역 */
.P-body-category-count {
    width: 33%;
    margin-right: 20px;
    position: relative;

}

/* 인원 버튼 */
.P-body-count-btn {
    width: 100%;

    padding: 12px 14px;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    background-color: #fff;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;

    /* 말줄임 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    justify-content: space-between;
    display: flex;
}

/* 인원 버튼 클릭 시 나타나는 화면*/
.P-selectBox-count {
    width: 100%;
    height: 116px;
    padding: 12px 14px;
    font-size: 12px;
    line-height: 14px;
    background-color: #fff;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
}


/* .menuHidden{
    display: none;
    transition-duration: 1ms;
} */

/* 인원 클릭 시 나타나는 화면 */
.P-person {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.P-person span {
    justify-content: center;
    align-items: center;
    display: flex;
}


#P-minusBtn {
    padding: 12px 14px;
    font-size: 14px;
    line-height: 14px;
    border: 1px solid #C4C4C4;

    border-radius: 10px;
    cursor: pointer;
    text-align: left;
}

#P-minusBtn:hover {
    padding: 12px 14px;
    font-size: 14px;
    line-height: 14px;
    border: 1px solid #C4C4C4;
    background-color: white;

    border-radius: 10px;
    cursor: pointer;
    text-align: left;
}



#P-plusBtn {
    padding: 12px 14px;
    font-size: 14px;
    line-height: 14px;
    border: 1px solid #C4C4C4;

    border-radius: 10px;
    cursor: pointer;
    text-align: left;
}

#P-plusBtn:hover {
    padding: 12px 14px;
    font-size: 14px;
    line-height: 14px;
    border: 1px solid #C4C4C4;
    background-color: white;

    border-radius: 10px;
    cursor: pointer;
    text-align: left;
}

#P-personBtn {
    margin-top: 20px;
    padding: 5px 5px;
    width: 100%;

    border-radius: 10px;
    border: 1px solid #C4C4C4;
    background-color: white;
    cursor: pointer;
}


#P-personBtn:hover {
    margin-top: 20px;
    padding: 5px 5px;
    width: 100%;

    border-radius: 10px;
    border: 1px solid #C4C4C4;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background: linear-gradient(90deg, rgba(200, 100, 255, 0.5), rgba(0, 128, 255, 0.5));
}

/* 제목 */
#P-body-title {
    margin: 0px 20px 5px 30px;
    padding: 10px 10px 10px 0;
    border-radius: 5px;
}



#P-body-title-textarea {
    width: 100%; 
    height: 30px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    resize: none;
    outline: none;
}

.P-body-category-top {
    width: 100%;
}

