* {box-sizing: border-box;}

/* 메인 */
#main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 글 상세 div + 인기 탑 10 div */
#main > #divContainer {
    width:1000px;
    display:flex;
    margin:45px;
}

/* 글 상세 div */
#trandDetailContent{
    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: var(--bg-color-2);
    transition-duration: 0.5s;
    width:65%;
    padding:20px 20px;
    border: 1px solid #ccc;
}

/* 헤더 : 이미지 + 이름 / 소개 */
#postHeader{
    justify-content:flex-start;
    align-items: center;
    margin: auto;
    padding: 15px 10px;
    top: 0;
}
.P-study-detail-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* "스터디" 텍스트에 대한 스타일 */
  .P-study-detail-category > div:first-child {
    background-color: #ccc;
    width: 130px;
    font-size: 13px;
    border-radius: 18px;
    font-weight: bold;
    text-align: center;
    padding: 2px;
  }


.P-study-detail-title {
    display: flex;
    margin: 15px 0 10px 0;
    font-size: 23px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all
}

.P-study-detail-title span {
    display: inline-block;
    margin: 0 3px;
    color: royalblue;
}

.P-study-detail-location-area {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-left: 5px;
}


/* 팔로잉 버튼 담은 div */
#followButtonDiv{
    width:70%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height:100%;
}

/* 팔로우 버튼 */
#followBtn{
    width:65px;
    height:50%;
    border:1px solid black;
    border-radius: 10px;
}


/* 제목 */
#detailTitle{
    display:flex;
    align-items: center;
    height:50px;
    padding: 15px 10px;
    font-size:20px;
    font-weight:bold;
    margin: auto;

}

/* p태그 담은 div */
#pDiv{
    width:100%;
    height: 500px;
    margin-bottom:20px;
    font-size:bold;
    padding: 0px 10px;
}

/* 작성일 */
#writeDate{
    margin-bottom:20px;
    text-align: end;
    margin-right: 15px;
}

/* 좋아요 북마크 게시글 수정 삭제 목록으로 */
#likeBookMarkUpdateDeleteBack{
    display:flex;
    justify-content: space-between;
    height:60px;
    margin: 30px 10px;
    border-bottom: 1px solid lightgray;
}

#goToBackButton{
    padding: 5px 5px;

    border-radius: 10px;
    border: 1px solid #C4C4C4;
    background-color: white;
    cursor: pointer;
}

/* 좋아요 북마크 담은 div */
#likeBookMark{
    width:50%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    height:60px;
}

#like{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right:20px;
    height:100%;

}

#likeCount{
    margin-left:3px;
    font-size:18px;
    font-weight: bold;
}

#bookMark{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    margin-right:10px;
}

.boardBtns{
    width:70px;
    height:30px;
    margin-right:8px;
    border:1px solid black;
    cursor: pointer;
}

#updateDeleteBack{
    width:50%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height:60px;

}

/* 댓글 전체 담는 div */
.replyContainer{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* 댓글 수 : */
#replyCount{
    margin:20px 0 20px 0;
    padding-left: 5px;
    font-size:15px;
    font-weight: bold;
}

/* 댓글 하나 하나 */
.replys{
    border:2px solid rgb(240, 240, 240);
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding:8px 8px;
}

/* 이미지 + 이름 + 작성일 */
.inReplyfirstDiv{
    display:flex;
    width:32%;
    justify-content: space-between;
    align-items: center;
    margin-bottom:3px;
}

/* 이미지 */
.replyImages{
    width:40px;
    height:40px;
}

/* 작성자 */
#replyWriter{
    font-weight: bold;
}

/* 작성일 */
#replyCreateDate{
    font-size:12px;
    color: rgb(240, 240, 240);
}

/* 댓글 내용 */
.replyContents{
    padding-left:5px;
    margin-bottom:3px;
}

/* 댓글 수정 삭제 대댓글 버튼담은 div */
.replyBtns{
    height:30px;
    text-align: right;
    cursor: pointer;
}

/* 댓글 버튼 하나하나  */
.replyBtn{
    padding: 5px 5px;

    border-radius: 10px;
    border: 1px solid #C4C4C4;
    background-color: white;
    cursor: pointer;
}


/* top 10 div */
 
/* 인기 탑 10 div */
#top10{
    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: var(--bg-color-2);
    transition-duration: 0.5s;
    height:100%;
    padding:0 12px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position: sticky;

}

/* 트렌드 인기 게시글 TOP 10 */
#top10HeaderText{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:20px;
    font-weight:bold;
    height:5%;
}

#replyWrite{
    display:flex;
    border:1px solid rgb(240, 240, 240);
}

#replyWriteContent{
    width:80%;
    display:flex;
    height:50px;
    border:2px solid rgb(240, 240, 240);
}
#replyWriteContent > input{
    width:100%;
    height: 100%;
    border:0;
    outline:0;
    background-color: transparent;
    border-radius: 20px;
}

#replyWriteBtn{
    width:20%;
    display:flex;
}


#replyWriteBtn > button{
    width:100%;
    height:100%;
    cursor: pointer;
    padding: 5px 5px;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    background-color: white;
    cursor: pointer;
}



/* 오른쪽 프로필 영역 */
.P-profile-area {

    display: flex;
    justify-content: center;
    position: sticky;
    top: 0; 
    z-index: 1;
}

.P-profile-container {
    width: 200px;
    height: 300px;
    text-align: center;
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 20px;
    background-color: #a09f9f28;
    z-index: 1;
   


}

.P-profile-image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.P-profile-buttons {
    margin-top: 20px;
}

#share-button,
#contact-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(0, 128, 255);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#share-button:hover,
#contact-button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 128, 255);
    font-size: 16px;
    border: 1px solid rgb(0, 128, 255);
}

.P-study-datail-footer-area{
    display: flex;
}


/* 스팬 태그의 스타일 */
.P-study-detail-tag span {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin: 5px;
    font-size: 14px;
}

/* a 태그에 대한 스타일 */
.P-study-detail-tag a {
    text-decoration: none;
    color: inherit;
}

.P-study-detail-tag a:hover {
    text-decoration: underline;
}


.P-study-detail-container {
    margin: 20px 0;
}


.P-study-detail-container a {
    display: inline-block;
}
