* {
    box-sizing: border-box;
}





/* 스터디 전체 div */
.P-header {

    display: flex;
    flex-direction: column; /* 요소들을 수직으로 쌓기 위해 */
    justify-content: center; /* 내용을 수직으로 가운데 정렬하기 위해 */
    align-items: center; /* 내용을 수평으로 가운데 정렬하기 위해 */
    
    
}

.P-main {
    margin: 30px auto;
    display: flex;
    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: var(--bg-color-2);
    transition-duration: 0.5s;

}

.P-studyChatting-search {
}

/* 왼쪽 검색창 */
.P-studyChatting-follow {
    display: flex;
    justify-content: space-between;
}

.P-studyChatting-follow p {
    font-weight: bold;
    align-items: center;
    margin: 15px;
}

.P-studyChatting-follow button {
    align-items: center;
    background: none;
    border: 0;
    margin: 10px 15px 10px;

    cursor: pointer;
}

.P-studyChatting-search-area {
    display: flex;
    border: 1px solid #ccc;
    margin: 10px 15px;
    border-radius: 18px;

}

.fa-magnifying-glass {
    margin: 5px;
}

#P-studyChatting-query {
    border: none;

    outline: 0;
    font-size: 14px;
    padding: 10px;
    width: 280px;
    border-radius: 18px;

}

#P-studyChatting-searchBtn {
    width: 8%;
    cursor: pointer;
    border: none;

    font-size: 1em;
    background-color: white;
}

/* 왼쪽 체팅 방 전체 div */
.P-studyChatting-search-list-area {
    width: 100%;
    overflow-y: scroll;
    min-height: 1000px;

}

/* 채팅 메시지 컨테이너 스타일 */
.P-studyChatting-item {
    display: flex;
    padding: 10px;
    background-color: #f2f2f2;
    width: 100%;
    cursor: pointer;
}

.P-studyChatting-search-list :hover {
    background-color: #dbdbdb;
}

/* 사용자 프로필 영역*/
.P-studyChatting-item-header {
    padding: 10px;

}

.P-studyChatting-user-area{
    display: flex;
}

/* 사용자 프로필 이미지 스타일 */
.P-profile-image {
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

/* 채팅 메시지 본문 스타일 */
.P-studyChatting-item-body {
    margin: auto;
    width: 75%;
}

/* 사용자 이름 스타일 */
.P-studyChatting-user {
    font-weight: bold;
    margin: 0 ;
    text-align: center;
}

/* 채팅 시간 스타일 */
.P-studyChatting-time {
    margin: 2px 10px;
    text-align: center;
    font-size: 12px;
    color: #7a7979;
    
}

/* 채팅 메시지 스타일 */
.P-studyChatting-message {
    margin: 5px 0;
}


/* 체팅방 상단 */
.P-studyChatting-content{
    width: 1000px;
    height: 1111px;
    border-left: 0.3px solid #ccc;
    
}


.P-studyChatting-content-top{
    height: 100%;
    display: flex; 
    flex-direction: column; 
}

.P-studyChatting-content-header{
    display: flex;
    justify-content: space-between;
    height: 10%;
}

.P-studyChatting-content-header h4{
    font-weight: bold;
    align-items: center;
    margin: 15px;
}

.P-studyChatting-content-btn{
   margin: 0; 
}

.P-studyChatting-content-header button {
    align-items: center;
    background: none;
    border: 0;
    margin: 15px;

    cursor: pointer;
}

/* 체팅방 전체 div */
.P-studyChatting-contaion{
    height: 80%;
}

/* 체팅방 글쓰는 곳 div */
.P-studyChatting-contaion-area{
    height: 100%;
    overflow-y: scroll;

    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

.P-studyChatting-contaion-area::-webkit-scrollbar {
    display: none;
}

/* 보낸 사람 div */
.P-studyChatting-content-senderArea{
    margin-right:6rem;
    margin-left: 15px;
    margin-top: 15px;

}

.P-studyChatting-sender-content{
    margin-top: 10px;
    margin-bottom: 10px;
}

.P-studyChatting-sender{
    border-radius: 24px;
    padding: 0.5rem 1rem;
    border-radius: 24px;
    background-color: #7a797934;
    width: fit-content;

}
.P-studyChatting-message-right{
   font-size: 0.8rem;
   font-weight: bold;
   margin-left: 0.5rem;
}


/* 내가 쓰는 div */
.P-studyChatting-body-receiveArea{
    margin-left:6rem;
    margin-right: 15px;
    justify-content:flex-end;
    display: flex;

}

.P-studyChatting-receive{
    border-radius: 24px;
    padding: 0.5rem 1rem;
    border-radius: 24px;
    border: 1px solid #ccc;
    width: fit-content;

}
.P-studyChatting-message-left{
   font-size: 0.8rem;
   font-weight: bold;
   margin-right: 1.6rem;
   justify-content:flex-end;
   display: flex;
}

.P-studyChatting-receive-content{
    margin-top: 10px;
    margin-bottom: 10px;
}


/* 채팅 보내는 창 전체 스타일 */
.P-studyChatting-footer {
    justify-content: flex-end;
    background-color: #f5f5f596;
    border-top: 1px solid #ccc;
    display: flex;
    border-radius: 1px;

    justify-content: center;
    align-items: center;
    height: 10.4%;

}


/* 텍스트 입력란 스타일 */
#inbox-message-textarea {
    width: 800px;
    height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none; 
    font-size: 16px; 
    outline: none;

}



/* 전송 버튼 스타일 */
#inbox-message-textarea-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px; 
    cursor: pointer;
    justify-content: center;
}

/* 전송 버튼 호버 효과 */
#inbox-message-textarea-btn :hover {
    background-color: #0056b3;
}


/* 팔로워버튼 */
.Follow-area{
    display: none;
}

#Follow-area{
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1200;
    background-color: white;
    border: 1px inset #ccc;
    border-radius: 10px;
    width: 500px;
    height: 500px;
}



#close{
    font-size: 25px;
    display: flex;
    justify-content: end;
    margin-top: 10px;
    margin-right: 15px;
    cursor: pointer;
}

#Follow-title{
    font-size: 30px;
    font-weight: bold;
    margin: 0;
   text-align: center;
    padding-bottom: 10px;
}

#Follow-area2 p{
    margin-bottom: 20px;
}

#Follow-area2{
    font-size: 15px;
    text-align: center;
}

.FollowArea {
    display: flex;
    align-items: center;
    padding: 15px 50px;
    border: 1px solid #eee; 
}


.FollowArea:hover {
    display: flex;
    align-items: center;
    padding: 15px 50px;
    background-color: #cccccc36; 
    border: 1px solid #eee; 
}


.FollowContainer {
    display: flex;
    align-items: center;
}

.replyImages {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* 원 모양으로 이미지를 보여주기 위한 스타일 */
    margin: auto;
}

#FollowWriter {
    font-weight: bold;
    font-size: 16px;
    margin-left: 20px;
    text-align: left;

    
}

#FollowInfo {
    font-size: 14px;
    color: #888;
}

#Follow-button-area {
    margin-left: auto; /* 버튼을 오른쪽으로 이동 */
}

#reportBtn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s; /* 호버 효과에 애니메이션 추가 */
}

#reportBtn:hover {
    background-color: #0056b3;
}

.addChatting{
    width: 1000px;
    height: 1111px;
    border: 0.3px solid #ccc;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 

    display: none;
    
}

.addChatContent{
    display: flex;
    flex-direction: column;
    align-items: center; /* 수평 가운데 정렬 */
    justify-content: center; /* 수직 가운데 정렬 */
    text-align: center; /* 텍스트를 가운데 정렬 */
}

.addChattingImg{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}   

.iconChat{
    width: 250px;
    margin: auto;
    height: auto;

}

.P-addChatting-content-header{
    height: 30%;
}

.addChat{
    display:flex;
    padding: 50px;
    font-size: 30px;
    color: #333; 
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
}


/* "채팅 시작하기" 버튼 스타일 */
.addChatContent button {
    background-color: #7a7979; /* 배경색 변경 */
    color: #fff; 
    text-align: center;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px; /
}

/* 버튼에 호버 효과 추가 */
.addChatContent button:hover {
    background: linear-gradient(90deg, rgba(200, 100, 255, 0.5), rgba(0, 128, 255, 0.5));
}

.followList{
    overflow-y: scroll;

    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */

}


.followList::-webkit-scrollbar {
    display: none;
}