* {
    box-sizing: border-box;
    border: 0.3px solid gainsboro ;
}

#P-body-area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 100px;

}

#P-main-area{
    border: 1px solid black;
    width: 780px;
    height: 950px;
    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: var(--bg-color-2);
    transition-duration: 0.5s;    

    justify-content: center;
}

#P-main-title{
    font-size: 35px;
    font-weight: bold;

    margin:  30px 0 5px 30px;
}


#P-main-area h5{
    margin:  10px 0 5px 30px;
}


.required{
    color: red;
}

.P-body-category-top{
    width: 100%;
}

.P-body-category-area{
    margin:  10px 0 5px 30px;
    display: flex;
}

.P-body-category-btn{
    width: 100%;
    padding: 12px 14px;
    font-size: 12px;
    line-height: 14px;
    background-color: #fff;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
    background: url("images/icon-Triangle-down.png") center right 14px no-repeat;
    /* 말줄임 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    justify-content: space-between;
}
