<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chatMapper">

	<resultMap id="message_rm" type="Message">
		<id property="messageNo" column="MSG_NO"/>
		<result property="chatRoomNo" column="CROOM_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberNick" column="MEMBER_NICK"/>
		<result property="profileImg" column="PROFILE_IMG"/>
		<result property="messageContent" column="MSG_CONTENT"/>
		<result property="sendDate" column="SEND_DT"/>
	</resultMap>

	<resultMap id="chatroom_rm" type="ChatRoom">
		<id property="chatRoomNo" column="CROOM_NO"/>
		<result property="createDate" column="CREATE_DT"/>
		<result property="messageUnread" column="MSG_UNREAD"/>
		<collection property="messages" select="selectMessages"
					column="CROOM_NO" javaType="java.util.ArrayList">
		</collection>
		<collection property="participants" select="selectChatRoomParticipants"
					column="CROOM_NO" javaType="java.util.ArrayList">
		</collection>
	</resultMap>

	<resultMap id="member_rm" type="Member">
		<id property="memberId" column="MEMBER_ID"/>
		<result property="memberPw" column="MEMBER_PW"/>
		<result property="memberNick" column="MEMBER_NICK"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberTel" column="MEMBER_TEL"/>
		<result property="profileImg" column="PROFILE_IMG"/>
		<result property="enrollDate" column="ENROLL_DT"/>
		<result property="promotionFl" column="PROMOTION_FL"/>
		<result property="deleteFl" column="DELETED_FL"/>
	</resultMap>

	<select id="selectMessages" resultMap="message_rm">
		SELECT *
		  FROM MESSAGE
		  JOIN MEMBER USING(MEMBER_ID)
		 WHERE CROOM_NO = #{chatRoomNo}
	</select>

	<select id="selectChatRoomParticipants" resultMap="member_rm">
		SELECT *
		  FROM CHAT_SESSION
		  JOIN MEMBER USING(MEMBER_ID)
		 WHERE CROOM_NO = #{chatRoomNo}
	</select>

	<select id="selectChatRoom" resultMap="chatroom_rm">
		SELECT C.*,
			   (SELECT COUNT(*)
				FROM MESSAGE M
				WHERE C.CROOM_NO = M.CROOM_NO
				  AND SEND_DT &lt; SYSDATE
				  AND MEMBER_ID != #{memberId}
				) AS "MSG_UNREAD"
		  FROM CHAT_ROOM C
		 WHERE CROOM_NO = #{chatRoomNo}
	</select>

	<select id="selectChatRoomList" resultMap="chatroom_rm">
		SELECT C.*,
		    (SELECT COUNT(*)
			   FROM MESSAGE M
			  WHERE C.CROOM_NO = M.CROOM_NO
				AND SEND_DT &lt; SYSDATE
				AND MEMBER_ID != #{memberId}
			) AS "MSG_UNREAD"
		  FROM CHAT_ROOM C
		  JOIN CHAT_SESSION S ON(C.CROOM_NO = S.CROOM_NO)
		 WHERE MEMBER_ID = #{memberId}
	</select>

	<insert id="insertChatRoom" parameterType="java.util.HashMap" useGeneratedKeys="true" keyColumn="CROOM_NO" keyProperty="chatRoomNo">
		INSERT INTO CHAT_ROOM VALUES(SEQ_CROOM_NO.NEXTVAL, SYSDATE, 0)
	</insert>

	<insert id="insertChatSession">
		INSERT ALL
		<foreach collection="members" item="member">
			INTO CHAT_SESSION VALUES(#{member}, #{chatRoomNo}, DEFAULT)
		</foreach>
		SELECT * FROM DUAL
	</insert>

	<insert id="insertMessage">
		INSERT INTO MESSAGE VALUES(SEQ_MSG_NO.NEXTVAL, #{chatRoomNo}, #{memberId}, #{messageContent}, DEFAULT)
	</insert>
</mapper>