<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lectureMapper">

    <resultMap id="lectureResultMap" type="Lecture">
        <id property="lectureNo" column="LCTR_NO"/>
        <result property="memberId" column="MEMBER_ID"></result>
        <result property="lectureTitle" column="LCTR_TITLE"></result>
        <result property="lectureIntro" column="LCTR_INTRO"></result>
        <result property="lectureThumbnail" column="LCTR_THUMB"></result>
        <result property="lectureDifficulty" column="LCTR_DIFF"></result>
        <result property="lecturePrice" column="LCTR_PRICE"></result>
        <result property="lectureSale" column="LCTR_SALE"></result>
        <collection property="lectureTags" select="selectLectureTagList"
                    column="LCTR_NO" javaType="java.util.ArrayList">
        </collection>
    </resultMap>

    <select id="selectLectureTagList" resultType="String">
        SELECT TAG_NM
          FROM TAG
          JOIN TAG_RELATION USING(TAG_NO)
         WHERE ITEM_TYPE = 2
           AND ITEM_NO = ${lectureNo}
    </select>

    <select id="selectPopularLectureList" resultMap="lectureResultMap">
        SELECT *
          FROM LECTURE
    </select>

    <select id="selectRecentLectureList" resultMap="lectureResultMap">
        SELECT *
          FROM LECTURE
         WHERE LCTR_NO = ${lectureNo}
    </select>

    <select id="selectLecture" resultMap="lectureResultMap">
        SELECT *
          FROM LECTURE
         WHERE LCTR_NO = ${lectureNo}
    </select>

    <insert id="insertLecture" useGeneratedKeys="true">
        <selectKey order="BEFORE" resultType="_int" keyProperty="lectureNo">
            SELECT SEQ_LCTR_NO.NEXTVAL FROM DUAL
        </selectKey>
        INSERT ALL
        INTO LECTURE VALUES(${lectureNo}, #{memberId}, #{lectureTitle}, #{lectureIntro}, #{lectureThumbnail}, ${lectureDifficulty}, ${lecturePrice}, DEFAULT, DEFAULT)
        <foreach collection="lectureTags" item="tagNm">
             INTO TAG_RELATION VALUES((SELECT TAG_NO FROM TAG WHERE TAG_NM = #{tagNm}), 2, ${lectureNo})
        </foreach>
        SELECT * FROM DUAL
    </insert>

    <update id="updateLecture">
        UPDATE LECTURE
           SET MEMBER_ID = #{memberId},
               LCTR_TITLE = #{lectureTitle},
               LCTR_INTRO = #{lectureIntro},
               LCTR_THUMB = #{lectureThumbnail},
               LCTR_DIFF = ${lectureDifficulty},
               LCTR_PRICE = ${lecturePrice},
               LCTR_SALE = ${lectureSale},
               CREATE_DT = SYSDATE
         WHERE LCTR_NO = ${lectureNo}
    </update>

    <delete id="deleteLecture">
        DELETE FROM LECTURE
         WHERE LCTR_NO = ${lectureNo}
    </delete>

</mapper>