<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="studyMapper">

    <!-- 임시 -->
    <resultMap type="Study" id="StudyResultMap">

        <id property="boardNo" column="BOARD_NO"/>

        <result property="boardTitle" column="BOARD_TITLE"/>
        <result property="boardContent" column="BOARD_CONTENT"/>
        <result property="createDate" column="CREATE_DT"/>
        <result property="modifyDate" column="MODIFY_DT"/>
        <result property="deletedFl" column="DELETED_FL"/>
        <result property="readCount" column="READ_COUNT"/>

        <result property="memberId" column="MEMBER_ID"/>
        <result property="memberNickname" column="MEMBER_NICK"/>

        <result property="studyNo" column="STUDY_NO"/>
        <result property="location" column="LOCATION"/>
        <result property="headCount" column="HEAD_COUNT"/>
        <result property="studyStatus" column="STUDY_STATUS"/>
        <result property="likeCount" column="LIKE_COUNT"/>

    </resultMap>


    <!--스터디 목록 조회-->
    <select id="selectStudyList" resultMap="StudyResultMap">
        SELECT B.READ_COUNT,S.STUDY_NO,B.BOARD_NO,B.BOARD_TITLE,B.BOARD_CONTENT,S.LOCATION,S.STUDY_STATUS
         ,(SELECT COUNT(*) FROM "LIKE" L WHERE L.BOARD_NO = B.BOARD_NO) LIKE_COUNT
        FROM BOARD B
        JOIN BOARD_STUDY S ON(B.BOARD_NO = S.BOARD_NO)
        ORDER BY S.BOARD_NO DESC
    </select>

    <!--스터디 상세 조회 -->
    <select id="studyDetail" resultMap="StudyResultMap">
        SELECT S.STUDY_STATUS
             , B.BOARD_NO
             , M.MEMBER_NICK
             , B.MEMBER_ID
             , B.BOARD_TITLE
             , B.BOARD_CONTENT
             , B.CREATE_DT
             , B.MODIFY_DT
             , B.DELETED_FL
             , B.READ_COUNT
             , S.LOCATION
             , TO_CHAR(B.CREATE_DT, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분"') AS  CREATE_DT
             , (SELECT COUNT(*) FROM "LIKE" L WHERE L.BOARD_NO = S.BOARD_NO) LIKE_COUNT
        FROM BOARD B
                 JOIN BOARD_STUDY S ON (B.BOARD_NO = S.BOARD_NO)
                 JOIN "MEMBER" M ON (B.MEMBER_ID = M.MEMBER_ID)
        WHERE S.BOARD_NO = #{boardNo}
        ORDER BY S.BOARD_NO DESC
    </select>

    <!--스터디 삽입-->
    <insert id="studyInsert" parameterType="Study" useGeneratedKeys="true">

        <selectKey order="BEFORE" resultType="_int" keyProperty="studyNo">
            SELECT SEQ_STUDY_NO.NEXTVAL FROM DUAL
        </selectKey>
    </insert>

    <!-- 좋아요 확인 여부-->
    <select id="likeCheck" resultType="_int">
        SELECT COUNT(*)
        FROM "LIKE" L
        JOIN BOARD_STUDY S ON (L.BOARD_NO = S.BOARD_NO)
        WHERE S.BOARD_NO = #{boardNo}
        AND MEMBER_ID = #{memberId}
    </select>

    <!-- 좋아요 삽입-->
    <insert id="insertStudyLike">
        INSERT INTO "LIKE" VALUES(#{boardNo}, #{memberId})
    </insert>

    <!--좋아요 삭제-->
    <delete id="deleteStudyLike">
        DELETE FROM "LIKE"
        WHERE BOARD_NO = #{boardNo}
        AND MEMBER_ID = #{memberId}
    </delete>

    <!--좋아요 개수 조회-->
    <select id="countStudyLike" resultType="_int">
        SELECT COUNT(*) FROM "LIKE"
        WHERE BOARD_NO =#{boardNo}
    </select>



</mapper>
