<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias type="io.marosile.helloworld.member.model.dto.Member" alias="Member" />
		<typeAlias type="io.marosile.helloworld.board.model.dto.Board" alias="Board" />
		<typeAlias type="io.marosile.helloworld.study.model.dto.Study" alias="Study" />
	</typeAliases>

	<mappers>
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/board-mapper.xml"/>
		<mapper resource="/mappers/study-mapper.xml"/>
		<mapper resource="/mappers/myPage-mapper.xml"/>
	</mappers>

</configuration>
