<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias type="io.marosile.helloworld.member.model.dto.Member" alias="Member" />
		<typeAlias type="io.marosile.helloworld.board.model.dto.Board" alias="Board" />
		<typeAlias type="io.marosile.helloworld.board.model.dto.Comment" alias="Comment" />
		<typeAlias type="io.marosile.helloworld.study.model.dto.Study" alias="Study" />
		<typeAlias type="io.marosile.helloworld.lecture.model.dto.Lecture" alias="Lecture" />
		<typeAlias type="io.marosile.helloworld.board.model.dto.Tag" alias="Tag" />
		<typeAlias type="io.marosile.helloworld.admin.model.dto.AdminDTO" alias="Admin" />
		<typeAlias type="io.marosile.helloworld.trand.model.dto.Trand" alias="Trand" />
		<typeAlias type="io.marosile.helloworld.mypage.model.dto.PostList" alias="PostList" />
		<typeAlias type="io.marosile.helloworld.study.model.dto.studyComment" alias = "studyComment"/>
		<typeAlias type="io.marosile.helloworld.recruit.model.dto.Company" alias = "company"/>
		<typeAlias type="io.marosile.helloworld.recruit.model.dto.Recruit" alias = "recruit"/>
		<typeAlias type="io.marosile.helloworld.recruit.model.dto.EmploymentTest" alias = "EmploymentTest"/>
		<typeAlias type="io.marosile.helloworld.mypage.model.dto.BookmarkList" alias="BookmarkList" />
		<typeAlias type="io.marosile.helloworld.mypage.model.dto.BookmarkList2" alias="BookmarkList2" />
		<typeAlias type="io.marosile.helloworld.chat.model.dto.Message" alias="Message" />
		<typeAlias type="io.marosile.helloworld.chat.model.dto.ChatRoom" alias="ChatRoom" />
<!--		<typeAlias type="io.marosile.helloworld.study.model.dto.ChattingMessage" alias="ChattingMessage" />
		<typeAlias type="io.marosile.helloworld.study.model.dto.ChattingRoom" alias="ChattingRoom" />-->
	</typeAliases>
	
	<typeHandlers>
    	<typeHandler handler="io.marosile.helloworld.board.controller.TagListTypeHandler" javaType="java.util.List" jdbcType="VARCHAR" />
	</typeHandlers>

	<mappers>
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/board-mapper.xml"/>
		<mapper resource="/mappers/comment-mapper.xml"/>
		<mapper resource="/mappers/study-mapper.xml"/>
		<mapper resource="/mappers/myPage-mapper.xml"/>
		<mapper resource="/mappers/lecture-mapper.xml"/>
		<mapper resource="/mappers/tag-mapper.xml"/>
		<mapper resource="/mappers/admin-mapper.xml"/>
		<mapper resource="/mappers/trand-mapper.xml"/>
		<mapper resource="/mappers/studyComment-mapper.xml"/>
		<mapper resource="/mappers/recruit-mapper.xml"/>
		<mapper resource="/mappers/employmentTest-mapper.xml"/>
		<mapper resource="/mappers/purchase-mapper.xml"/>
		<mapper resource="/mappers/chat-mapper.xml"/>
<!--		<mapper resource="/mappers/studyChatting-mapper.xml"/>-->
	</mappers>

</configuration>
