*{
    box-sizing: border-box;
}


/* 아이디 찾기 메인 */
.findIdMain{
    margin: 50px auto 50px auto;
    text-align: center;
    width: 600px;
    height: 600px;
    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: var(--bg-color-2);
    transition-duration: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}


/* 아이디 찾기 div*/
.phoneAuth1{
    display: flex;
    margin: 10px auto 10px auto;
    width: 450px;
    justify-content: space-between;

}


/* 아이디 찾기 input */
.phoneInput{
    width: 350px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #ddd;
    padding-left: 5px;
    font-size: 16px;
}

/* 인증번호 버튼 */
.inputBtn{
    width: 100px;
    font-size: 12px;
    cursor: pointer;
}

/* 아이디 찾기 버튼 */
.findIdBtn{
    font-size: 16px;
    font-weight: bold;
    width: 450px;
    height: 50px;
    line-height: 0;
    cursor: pointer;
    padding: 15px 0;
    margin-bottom: 30px;
    margin-top: 10px;
}

/* 휴대폰 / 이메일 인증 고르는 radio */
.radioList{
    display: flex;
    margin: 40px auto 10px auto;
    width: 400px;
    justify-content: space-evenly;
}

[name="findIdRadio"]{
    display: none;
}

.findTelLabel{
    margin-bottom: 10px;
    cursor: pointer;
}

.findTelShape{
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    align-items: center;
    vertical-align:middle;
    cursor: pointer;
}

[name="findIdRadio"]:checked + label{
    background-image: url(../../images/checkimg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.EmailCertification{
    display: none;
}

/* 휴대폰 인증 메시지 */
.telMessage{
    text-align: left;
    margin: auto;
    width: 450px;
    font-size: 14px;
    padding-left: 10px;
}


/* 아이디 찾기 결과창 모달로 띄우기*/
/* 모달 */
.idModal {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;
    z-index: 50;

    background-color: rgba(0, 0, 0, 0.4);
}

.idModal.show {
    display: flex;
    animation-name: show;
    animation-duration: 0.5s;
    z-index: 500;
}

.idModal.hide{
    animation-name: hide;
    animation-duration: 0.5s;
}

@keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes hide {
    from {opacity: 1;}
    to {opacity: 0;}
}


#idModalClose {
    position: absolute;
    top: 70px;
    right: 40px;

    color: white;
    font-size: 50px;
    font-weight: bold;

    transition-duration: 0.2s;
    cursor: pointer;
}

#idModalClose:hover{
    transform: scale(1.2);
}

.idModalDiv{
    position: fixed;
    border: 1px solid #ccc;
    width: 100%;
    height: 200px;
    top: 300px;
    /*left: 415px;*/
    background-color: white;
    border-radius: 10px;
}

.findIdSpan{
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
    display: inline-block;
}

.TelCertification > div:nth-of-type(1){
    margin-top: 50px;
}

.EmailCertification> div:nth-of-type(1){
    margin-top: 50px;
}