footer {
    display: flex;
    width: 100vw;
    height: 100px;
    border-top: 1px solid var(--divider);
    background-color: var(--bg-color-2);
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
}

#content {
    display: flex;
    flex-direction: column;
    height: 60px;
    font-size: 0.8rem;
    align-items: center;
}

#info {
    flex-basis: 50%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#info > a {
    margin: 0 7px;
}

#copyright {
    flex-basis: 50%;
    display: flex;
    width: 100%;
    border-top: 1px solid var(--divider);
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    #content {
        display: flex;
        flex-direction: column;
        height: 60px;
        font-size: 0.7rem;
    }
}