@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    color: var(--text-color-1);
    font-family: 'Noto Sans KR';
}

html {
    --bg-color-1: rgb(240, 240, 240);
    --bg-color-2: rgb(255, 255, 255);
    --text-color-1: rgb(60, 60, 60);
    --divider: rgb(200, 200, 200);
}

html.dark {
    --bg-color-1: rgb(30, 30, 30);
    --bg-color-2: rgb(40, 40, 40);
    --text-color-1: rgb(255, 255, 255);
    --divider: rgb(120, 120, 120);
}

input[type='text'], input[type='password'] {
    border-color: var(--divider);
    outline: none;
    background-color: var(--bg-color-1);
}

button {
    border: 1px solid var(--divider);
    border-radius: 5px;
    background-color: var(--bg-color-2);
    cursor: pointer;
}

body {
    display: none;
    background-color: var(--bg-color-1);
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

main {
    min-height: calc(100vh - 162px);
}

div {
    box-sizing: border-box;
}