@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    color: var(--text-color-1);
    font-family: 'Noto Sans KR';
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

html {
    --bg-color-1: rgb(245, 245, 245);
    --bg-color-2: rgb(255, 255, 255);
    --text-color-1: rgb(60, 60, 60);
    --text-color-2: rgb(120, 120, 120);
    --overlay-color-1: rgba(255, 255, 255, 0.3);
    --overlay-color-2: rgba(255, 255, 255, 0.6);
    --divider: rgb(210, 210, 210);
} html.dark {
    --bg-color-1: rgb(30, 30, 30);
    --bg-color-2: rgb(40, 40, 40);
    --text-color-1: rgb(255, 255, 255);
    --text-color-2: rgb(200, 200, 200);
    --overlay-color-1: rgba(0, 0, 0, 0.3);
    --overlay-color-2: rgba(0, 0, 0, 0.5);
    --divider: rgb(80, 80, 80);
}

input[type='text'], input[type='password'] {
    border: solid 1px var(--divider);
    outline: none;
    color: rgb(0, 0, 0);
}

button {
    border: 1px solid var(--divider);
    border-radius: 5px;
    background-color: var(--bg-color-2);
    cursor: pointer;
}

body {
    display: none;
    background-color: var(--bg-color-1);
}

body, h1, h2, h3, h4, h5, h6, p, label {
    margin: 0;
    transition-duration: 0.5s;
}

a {
    text-decoration-line: none;
}

main {
    min-height: calc(100vh - 160px);
}

.page {
    width: 1024px;
    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: var(--bg-color-2);
    transition-duration: 0.5s;
}

.window {
    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: var(--bg-color-2);
    transition-duration: 0.5s;
    overflow: hidden;
}

.advertise-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 728px;
    height: 90px;
    border-radius: 10px;
    margin-top: 20px;
    background: linear-gradient(90deg, rgba(200, 100, 255, 0.5), rgba(0, 128, 255, 0.5));
    color: rgba(255, 255, 255, 0.5);
    font-size: 2.5rem;
    font-weight: 900;
    overflow: hidden;
    cursor: pointer;
}

#advertise-banner:hover {
    background: linear-gradient(90deg, rgba(200, 100, 255, 0.7), rgba(0, 128, 255, 0.7));
}

/* 메세지 색상 지정 */
.confirm{ color : green; }
.error{ color : red; }


/* 에디터 테마 */

html.dark .note-editor.note-frame .note-editing-area .note-editable {
    background-color: transparent;
}

.note-toolbar, .note-btn, .note-toolbar, .note-btn:focus, .note-btn:active {
    transition-duration: 0.5s;
} html.dark .note-toolbar, html.dark .note-btn, html.dark .note-toolbar, html.dark .note-toolbar .note-btn:active, html.dark .note-dropdown-menu {
      background-color: var(--bg-color-1);
      color: var(--text-color-1);
      border-color: var(--bg-color-2);
  }

html.dark .show > .btn-light.dropdown-toggle {
    background-color: var(--bg-color-1);
}

html.dark .note-toolbar .dropdown-menu .dropdown-item {
    color: var(--bg-color-2);
}

html.dark .note-toolbar .btn {
    color: var(--bg-color-2);
}

#modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}