@import url(https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap);

header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid var(--divider);
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
    transition-property: border-bottom, background-color;
    transition-duration: 0.5s;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
} html.dark header {
    background-color: rgba(40, 40, 40, 0.9)
}

#header-left {
    flex-basis: 70%;
    display: flex;
    height: 100%;
    align-items: center;
}

#header-right {
    flex-basis: 30%;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

#header-logo {
    width: 40px;
    margin: 15px 10px 15px 25px;
    cursor: pointer;
}

#header-title {
    color: rgb(0, 128, 255);
    font-family: 'Space Grotesk';
    font-size: 30px;
    cursor: pointer;
}

#header-category {
    display: flex;
    height: 100%;
    margin-left: 12px;
}

#header-category > a {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 25px;
    color: var(--text-color-2);
    font-size: 0.9rem;
    cursor: pointer;
    transition-duration: 0.3s;
}

#header-category > a:hover {
    color: rgb(0, 128, 255);
}

#theme-switch {
    width: 50px;
    height: 26px;
    border-radius: 13px;
    margin-right: 20px;
    background-color: rgb(200, 200, 200);
    cursor: pointer;
    transition-duration: 0.5s;
} html.dark #theme-switch {
    background-color: rgb(100, 100, 100);
}

#theme-button {
    display: flex;
    width: 26px;
    height: 26px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 13px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
}

#theme-image {
    width: 70%;
    content: url(/resources/images/sun.png);
}

#theme-checkbox:checked + label #theme-button {
    background-color: rgb(255, 255, 255);
    transform: translateX(25px);
}

#theme-checkbox:checked + label #theme-image {
    content: url(/resources/images/moon.png);
}

.button {
    display: flex;
    width: 90px;
    height: 36px;
    border-radius: 18px;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#header-login {
    margin-right: 15px;
    border: 1px solid rgb(180, 180, 180);
    background-color: rgb(255, 255, 255);
    color: rgb(50, 50, 50);
}

#header-logout {
    margin-right: 15px;
    border: 1px solid rgb(180, 180, 180);
    background-color: rgb(255, 255, 255);
    color: rgb(50, 50, 50);
}

#header-signup {
    margin-right: 25px;
    background-color: rgb(0, 128, 255);
    color: rgb(255, 255, 255);
}

#header-mypage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: 2px solid rgb(0, 128, 255);
    border-radius: 50%;
    margin-right: 25px;
    background-color: var(--divider);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

@media (max-width: 1023px) {
    #header-logo {
        margin: 15px 5px 15px 15px;
    }
    #header-title {
        display: none;
    }
    #header-category {
        margin-left: 0px;
    }
    #header-category > a {
        margin-left: 15px;
    }
    .button {
        display: flex;
        width: 80px;
        height: 32px;
        font-size: 0.8rem;
    }
    #header-login {
        margin-right: 10px;
    }
    #header-logout {
        margin-right: 10px;
    }
    #header-signup {
        margin-right: 15px;
    }
    #header-mypage{
        margin-right: 15px;
    }
}

@media (max-width: 767px) {
    #theme-switch {
        display: none;
    }
}


/* 로그인 모달 띄우기 !!*/
body{
    position: relative;
}

.modalArea{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;
    z-index: 100;

    background-color: rgba(0, 0, 0, 0.4);
}

.modalArea > div{
    z-index: 99;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}