#body-area{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 60px 100px;
}


#main-area{
    border: 1px solid black;
    
    width: 600px;
    height: 750px;
    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: var(--bg-color-2);
    transition-duration: 0.5s;    
}

p{
    margin: 0;
}

#question{
    font-size: 30px;
    font-weight: bold;

    text-align: center;

    margin-top: 15px;
    margin-bottom: 70px;
}

#question2{
    font-size: 25px;
    font-weight: bold;

    text-align: center;

    margin-top: 15px;
    margin-bottom: 70px;
}

#number{
    margin-left: 38px;

    margin-top: 70px;
    margin-bottom: 10px;
}

.answer{
    border: 1px solid rgb(96, 117, 157);
    border-radius: 10px;

    width: 500px;
    height: 50px;

    text-align: center;

    line-height: 50px;

    margin-bottom: 20px;
    margin-left: 50px;

    font-size: 18px;
    font-weight: bold;
}

.answer:hover{
    cursor: pointer;
    background-color: rgba(174, 193, 228, 0.167);
}

#notice{
    margin-left: 50px;
    font-size: 13px;
    color: rgba(128, 128, 128, 0.501);
}

#term{
    font-size: 18px;
    font-weight: bold;

    margin-left: 35px;
}

#slider{
    accent-color: rgba(174, 193, 228, 0.167);

    margin-top: 15px;
    margin-left: 35px;

    width:500px
}

datalist{
    margin-left: 38px;

    display: grid;
    
    grid-column-gap: 20px;
    grid-auto-flow: column;
    width:500px;
}

#main-area2{
    border: 1px solid black;
    
    width: 600px;
    height: 950px;
    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: var(--bg-color-2);
    transition-duration: 0.5s;    
}


 /* 3d 버튼  */
 .btn-container, .container {
    background-color: white;
    border-radius: 4px;
    text-align: center;

  }

  .btn-3d {
    position: relative;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    color: white;

    line-height: 15px;
    margin: 20px 10px 10px;
    border-radius: 6px;
    transition: top .01s linear;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);

    width: 150px;
    height: 40px;

    margin-top: 200px;
}
  
  .btn-3d.blue:hover   {background-color: #699DD1;}

  .btn-3d:active {
    top: 9px;
  }

  .btn-3d.blue {
    background-color: #6DA2D9;
    box-shadow: 0 0 0 1px #6698cb inset,
          0 0 0 2px rgba(255,255,255,0.15) inset,
          0 8px 0 0 rgba(110, 164, 219, .7),
          0 8px 0 1px rgba(0,0,0,.4),
          0 8px 8px 1px rgba(0,0,0,0.5);
  }
  .btn-3d.blue:active {
    box-shadow: 0 0 0 1px #6191C2 inset,
          0 0 0 2px rgba(255,255,255,0.15) inset,
          0 0 0 1px rgba(0,0,0,0.4);
  }
  
  #button3{
    margin-top: 15px;
  }

  #button6{
    margin-top: 15px;
  }

  #button7{
    margin-top: 15px;
  }