* {box-sizing: border-box;}



/* 메인 */
#main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(200, 100, 255, 0.3), rgba(0, 128, 255, 0.3)) !important;
}

/* text 부분들 */
#textButtonContainer{
    margin-top:15px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:65%;
}

/* 텍스트들 */
span{
    display: block;
}

/* 채용 공고 매칭 */
#firstText{
    font-size:28px;
    font-weight: bold;
    margin-bottom:10px;
}

/* 설명1 */
#secondText{
    font-size:18px;
    font-weight: bold;
    margin-bottom:3px;
}

/* 설명2 */
#thirdText{
    font-size:18px;
    font-weight: bold;
    margin-bottom: 15px;
}

/* 설명3 */
#fourthText{
    font-size:14px;
    color:lightgray;
    font-weight:bold;
}

/* 버튼담은 div */
#buttonDiv{
    height:50px;
}

/* 시작하기 버튼 */
/* #btn{
    width:100px;
    height:100%;
    font-size:20px;
    border:0;
    border-radius: 10px;
    border:2px solid black;
}

#btn:hover{
    color: rgb(0, 128, 255);
    border: 2px solid rgb(0, 128, 255);
}
 */

/* 버튼  */
.custom-btn {

    width: 130px;
    height: 40px;

    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 600;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;

    /* margin: 1rem; */
}

.btn-4 {
    background-color: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-4:hover{
    background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  }
  .btn-4 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-4:before,
  .btn-4:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.9),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    transition: all 0.3s ease;
  }
  .btn-4:before {
    height: 0%;
    width: .1px;
  }
  .btn-4:after {
    width: 0%;
    height: .1px;
  }
  .btn-4:hover:before {
    height: 100%;
  }
  .btn-4:hover:after {
    width: 100%;
  }
  .btn-4 span:before,
  .btn-4 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.9),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    transition: all 0.3s ease;
  }
  .btn-4 span:before {
    width: .1px;
    height: 0%;
  }
  .btn-4 span:after {
    width: 0%;
    height: .1px;
  }
  .btn-4 span:hover:before {
    height: 100%;
  }
  .btn-4 span:hover:after {
    width: 100%;
  }
  

.btn-jittery {
    -webkit-animation: jittery 4s infinite;
            animation: jittery 4s infinite;
}  


@-webkit-keyframes jittery {
    5%, 50% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    15% {
      transform: scale(1.15);
    }
    20% {
      transform: scale(1.15) rotate(-5deg);
    }
    25% {
      transform: scale(1.15) rotate(5deg);
    }
    30% {
      transform: scale(1.15) rotate(-3deg);
    }
    35% {
      transform: scale(1.15) rotate(2deg);
    }
    40% {
      transform: scale(1.15) rotate(0);
    }
  }
  
  @keyframes jittery {
    5%, 50% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    15% {
      transform: scale(1.15);
    }
    20% {
      transform: scale(1.15) rotate(-5deg);
    }
    25% {
      transform: scale(1.15) rotate(5deg);
    }
    30% {
      transform: scale(1.15) rotate(-3deg);
    }
    35% {
      transform: scale(1.15) rotate(2deg);
    }
    40% {
      transform: scale(1.15) rotate(0);
    }
  }

/* 메인 이미지 담는 Div */
#recruitMainImageDiv{
    width:75%;
    height:500px;
}

/* 메인 이미지 */
#recruitMainImage{
    width: 100%;
    height: 100%;
}










#body-area{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 60px 100px;
}


#main-area{
    border: 1px solid black;
    width: 600px;
    min-height: 660px;
    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: var(--bg-color-2);
    transition-duration: 0.5s;    
}

p{
    margin: 0;
}

#question{
    font-size: 30px;
    font-weight: bold;

    text-align: center;

    margin-top: 15px;
    margin-bottom: 70px;
}

#question2{
    font-size: 25px;
    font-weight: bold;

    text-align: center;

    margin-top: 15px;
    margin-bottom: 70px;
}

#number{
    margin-left: 38px;

    margin-top: 70px;
    margin-bottom: 10px;
}

.answer{
    border: 1px solid rgb(96, 117, 157);
    border-radius: 10px;

    width: 500px;
    height: 50px;

    text-align: center;

    line-height: 50px;

    margin-bottom: 20px;
    margin-left: 50px;

    font-size: 18px;
    font-weight: bold;
}

.answer:hover{
    cursor: pointer;
    background-color: rgba(174, 193, 228, 0.167);
}

#notice{
    margin-left: 50px;
    font-size: 13px;
    color: rgba(128, 128, 128, 0.501);
}

#term{
    font-size: 18px;
    font-weight: bold;

    margin-left: 35px;
}

#slider{
    accent-color: rgba(174, 193, 228, 0.167);

    margin-top: 15px;
    margin-left: 35px;

    width:500px
}

datalist{
    margin-left: 38px;

    display: grid;
    
    grid-column-gap: 20px;
    grid-auto-flow: column;
    width:500px;
}

#main-area2{
    border: 1px solid black;
    
    width: 600px;
    height: 950px;
    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: var(--bg-color-2);
    transition-duration: 0.5s;    
}


 /* 3d 버튼  */
 .btn-container, .container {
    background-color: white;
    border-radius: 4px;
    text-align: center;

  }

  .btn-3d {
    position: relative;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    color: white;

    line-height: 15px;
    margin: 20px 10px 10px;
    border-radius: 6px;
    transition: top .01s linear;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);

    width: 150px;
    height: 40px;

    margin-top: 200px;
}
  
  .btn-3d.blue:hover   {background-color: #699DD1;}

  .btn-3d:active {
    top: 9px;
  }

  .btn-3d.blue {
    background-color: #6DA2D9;
    box-shadow: 0 0 0 1px #6698cb inset,
          0 0 0 2px rgba(255,255,255,0.15) inset,
          0 8px 0 0 rgba(110, 164, 219, .7),
          0 8px 0 1px rgba(0,0,0,.4),
          0 8px 8px 1px rgba(0,0,0,0.5);
  }
  .btn-3d.blue:active {
    box-shadow: 0 0 0 1px #6191C2 inset,
          0 0 0 2px rgba(255,255,255,0.15) inset,
          0 0 0 1px rgba(0,0,0,0.4);
  }
  
  #button3{
    margin-top: 15px;
  }

  #button6{
    margin-top: 15px;
  }

  #button7{
    margin-top: 15px;
  }


/* 메인 안 전부 다 담는 div */
.job-postings-container {
    width:1000px;
    margin:30px;
    padding: 20px 20px;

}

.flex{
    width:1000px;
    margin:30px;
    padding: 20px 20px;
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    min-height: 720px; 
}


.job-posting {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: perspective(1000px) rotateY(90deg); /* 초기에 Y축을 중심으로 90도 회전하면서 숨김 */
    transform-origin: center center;
    transition: transform 1s ease-in-out, opacity 1.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#job-posting-1{
    width:1000px;
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: var(--bg-color-2);
    transition-duration: 0.5s;
}

.job-posting.active {
    opacity: 1;
    transform: perspective(1000px) rotateY(0deg); /* Y축을 중심으로 0도 회전하여 나타남 */
}

/* .job-posting {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 1.5s ease-in-out; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.job-posting.active {
    opacity: 1;
}  */

.btns{
    z-index: 20;
}


.clicked {
  cursor: pointer;

  background-color: #6192c279;

  text-align: center;

  line-height: 50px;

  margin-bottom: 20px;
  margin-left: 50px;

  font-size: 20px;
  font-weight: bold;



}



