#body-area{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 20px 100px;
}


#main-area{
    border: 1px solid black;
    
    width: 1200px;
    height: 750px;
    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: var(--bg-color-2);
    transition-duration: 0.5s;    
}

.box{
    border: 1px solid gray;
    border-radius: 5px;

    width: 490px;
    height: 190px;

    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: var(--bg-color-2);
    transition-duration: 0.5s;   
}

/* .box div{
    border: 1px solid black;
} */

#row1{
    display: flex;
    height: 70px;
}

i{
    margin-left: 20px;
}

#row2{
    color: rgb(51, 50, 50);

    display: flex;
    line-height: 30px;
    height: 70px;
}

#title{
    height: 50%;
    font-size: 18px;
    font-weight: bold;
    line-height: 45px;
}

#row3{
    display: flex;

    margin-top: 8px;
    margin-left: 35px;
}

#row3:hover{
    cursor: pointer;
}

#row3 > div{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    line-height: 30px;

    background-color: rgba(3, 3, 14, 0.808);
    color: white;
    
    font-weight: bold;
    font-size: 13px;
    
    text-align: center;

    margin-left: 10px;
}

#photo{
    width: 100px;
}

#title-area{
    width: 300px;
}

#machting{
    font-size: 20px;
    font-weight: bold;
    width: 100px;

    text-align: center;
    line-height: 60px;
}

#left{
    width: 40%;

    font-size: 13px;
}

#right{

    font-size: 13px;

    width: 60%;
}

.up{
    height: 50%;
}

.down{
    height: 50%;
}

.row-area{
    margin-top: 35px;
    display: flex;
    justify-content: space-evenly;
}