main{
    width: 768px;
    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: var(--bg-color-2);
    transition-duration: 0.5s;
    margin-left: 20px;
    margin-top: 20px;
}
.Title{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 25px;
}
.ttt{
    display: flex;
    justify-content: center;
}
#side {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: sticky;
    top: 80px;
    width: 194px;
    height: fit-content;
}

#side > h6 {
    margin-bottom: 5px;
    color: rgb(180, 180, 180);
    font-size: 12px;
    letter-spacing: 1px;
}

#side > h6:not(h6:first-of-type) {
    padding-top: 10px;
    border-top: 1px solid var(--divider);
    margin-top: 10px;
}

#side > div {
    display: flex;
    align-items: center;
    padding: 4px 3px;
    margin: 2px 0;
    transition-duration: 0.3s;
}

#side > div > a {
    display: flex;
    align-items: center;
    margin-left: 5px;
    color: var(--text-color-2);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition-duration: 0.3s;
}

#side img {
    height: 16px;
    padding-right: 5px;
    transition-duration: 0.3s;
    filter: invert(50%);
} html.dark #side img {
    filter: invert(80%);
}

.category-selected {
    border-radius: 4px;
    background-color: rgba(0, 128, 255);
}

.category-selected img {
    filter: brightness(0) invert(100%) !important;
}

.category-selected > a {
    color: rgb(255, 255, 255) !important;
}

#main {
    width: 768px;
    margin-left: 20px;
}



/* 이력서 영역 */
.resume-area{
    width: 720px;
    height: 260px;
    border-radius: 10px;
    border: dashed #8080806b;
    margin-top: 20px;
    margin-bottom: 30px;
}

.resume-area > * {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* 업로드 파일 input태그 */
.resume-area >:nth-child(2){
    color: rgb(0, 128, 255);
}

.resume-area > :nth-child(2):hover{
    cursor: pointer;
    text-decoration: underline;
}

.resume-area >:nth-child(4){
    font-size: smaller;
}

#icon{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#resumeInput{
    display: none;
}



/* ================================== 약관동의 영역 ================================*/

/* 정책 동의 글씨 */
.agree-area > :nth-of-type(1){
    font-size: large;
    font-weight: 600;
    margin-bottom: 3px;
    margin-top: 15px;
}



/* 이력서 활용에 대한 약관 및 정책에 동의해주세요 글씨 */
.agree-area > :nth-of-type(2){
    font-size: 0.875rem;
    margin-bottom: 10px;
}

/* 전체동의 */
.row1{
    font-weight: bold;
    margin-top: 20px;
}

.row2{
    margin-bottom: 10px;
}

/* 2, 3번 박스 */
.row23{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
}

/* ============팝업 영역============= */

/* 보기 버튼 (#popupBtn들)*/
.row23 > div > button{
    color: rgb(0, 128, 255);
    text-decoration: underline;
    margin-left: 10px;
    border: 0;
}

/* 팝업창 */
.popup{display: none;}

#popup1{
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1200;
    background-color: white;
    border: 1px inset black;
    border-radius: 10px;
    width: 700px;
    height: 500px;
}

#popup2{
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
     left: 0;
     right: 0;
     z-index: 1200;
     background-color: white;
     border: 1px inset black;
     border-radius: 10px;
     width: 700px;
     height: 500px;
}

/* x버튼 */
#closeBtn1{
    font-size: 30px;
    display: flex;
    justify-content: end;
    margin-right: 10px;
    cursor: pointer;
}

#closeBtn2{
    font-size: 30px;
    display: flex;
    justify-content: end;
    margin-right: 10px;
    cursor: pointer;
}
/* 약관 제목 */
.agreeTitle{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

/* 약관내용 */
.agreeText{
    overflow: auto;
    width: auto;
    height: 440px;
    padding: 10px;
}





/* 마지막 박스 */
.row4{
    font-size: 14px;
}



/* 버튼 */
#saveBtn{
    margin-left: 520px;
    width: 200px;
    height: 50px;
    font-size: large;
    margin-top: 70px;
    background-color: rgb(0, 128, 255);
    color: white;
}




