main{
    margin: auto;

    width: 1000px;
    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: var(--bg-color-2);
    transition-duration: 0.5s;
}
.Title{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 25px;
}



/* 인풋 박스들 */
.rowE > input{
    width: 400px;
    height: 45px;
    border-radius: 5px;
    background-color: white;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 3px 3px 5px 2px;
    font-size: initial;
    color: #3f3d3d;
}

.row > input{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 3px 3px 5px 2px;
}

.row>:nth-child(1){
    margin-top: 5px;
}

/* 폼태그 */
#accountFrm{
    margin-left: 50px;
    margin-top: 50px;
}


/* 회원탈퇴 경계선 */
.line{
    margin-top: 80px;
}

/* ---------이메일 -------- */
.email{
    margin-top: 40px;
    margin-left: 50px;
}
/* 인증하기 버튼 */
#checkAuthKeyBtn{
    margin-left: 25px;
    width: 200px;
    height: 44px;
    box-shadow: rgba(0, 0, 0, 0.05) 3px 3px 5px 2px;
}

/* 인증번호 입력 인풋창 */
#authKey{
    margin-top: 20px;
}

/* 이메일 인증번호칸 아래 메세지들*/
/* 타이머 */
#authKeyMessage{ 
    font-size: small;
}
/* 인증 실패 여부 span 태그 */
#emailAuthMessage{
    font-size: small;
}

/* 이메일 변경 안내 메세지 span태그 */
#guide{
    font-size: 11px;
}




/* =============== =======비밀번호  ============== */
.row{
    margin-top: 10px;
}

.pw-area{
    margin-top: 30px;
    margin-left: 50px;
}



/* =============== 회원 탈퇴 ==================== */
.secession-area{
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#agreeText{
    width: 500px;
    height: 100px;
    border: 1px solid rgba(128, 128, 128, 0.774);
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.05) 3px 3px 5px 2px;
    border-radius: 5px;
}



/* 버튼들 */
#sendAuthKeyBtn{
    margin-left: 25px;
    width: 200px;
    height: 44px;
    box-shadow: rgba(0, 0, 0, 0.05) 3px 3px 5px 2px;
}

#pwBtn{
    margin-left: 25px;
    width: 200px;
    height: 44px;
    box-shadow: rgba(0, 0, 0, 0.05) 3px 3px 5px 2px;
}

#secessionBtn{
    margin-left: 10px;
    width: 100px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.05) 3px 3px 5px 2px;
}