main{
    width: 768px;
    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: var(--bg-color-2);
    transition-duration: 0.5s;
    margin-left: 20px;
    margin-top: 20px;
}
.Title{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 25px;
}
.ttt{
    display: flex;
    justify-content: center;
}
#side {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: sticky;
    top: 80px;
    width: 194px;
    height: fit-content;
}

#side > h6 {
    margin-bottom: 5px;
    color: rgb(180, 180, 180);
    font-size: 12px;
    letter-spacing: 1px;
}

#side > h6:not(h6:first-of-type) {
    padding-top: 10px;
    border-top: 1px solid var(--divider);
    margin-top: 10px;
}

#side > div {
    display: flex;
    align-items: center;
    padding: 4px 3px;
    margin: 2px 0;
    transition-duration: 0.3s;
}

#side > div > a {
    display: flex;
    align-items: center;
    margin-left: 5px;
    color: var(--text-color-2);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition-duration: 0.3s;
}

#side img {
    height: 16px;
    padding-right: 5px;
    transition-duration: 0.3s;
    filter: invert(50%);
} html.dark #side img {
    filter: invert(80%);
}

.category-selected {
    border-radius: 4px;
    background-color: rgba(0, 128, 255);
}

.category-selected img {
    filter: brightness(0) invert(100%) !important;
}

.category-selected > a {
    color: rgb(255, 255, 255) !important;
}

#main {
    width: 768px;
    height: 1024px;
    margin-left: 20px;
}