main{
    margin: auto;

    width: 1000px;
    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: var(--bg-color-2);
    transition-duration: 0.5s;
}

.Title{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 25px;
}

/* =============================== */


/* 전환 버튼 */
.change{
    margin-top: 10px;
}
#community{
    font-size: large;
    text-decoration-line: underline;
}
#chae{
    color: gray;
    font-weight: 400;
}

/* ========================================================================= */

/* 게시글 한줄 감싸는 div */
.row1{
    border: 1px solid #80808052;
    width: 850px;
    height: 93px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 3px 3px 5px 2px;
}

/* 윗줄 영역 */
.top{
    display: flex;
}
/* ======= 윗줄 영역 [유저 사진, 유저 닉네임, 게시글 게시 날짜======*/

/* 유저 프로필 사진 */
.profileImage{
    width: 25px;
    height: 25px;
}
/* 유저 닉네임 */
.memberNick{
    margin-left: 10px;
    font-size: 15px;
}

/* 게시글 날짜 */
.createDate{
    margin-left: 10px;
    font-size: 15px;
}




/* ========== 아랫줄 영역 ============== */
.bottom{
    display: flex;
    margin-top: 17px;
}

/* 게시글 제목 */
.title{
    font-size: 17px;
    color: #000000e8;
    font-weight: 500;
}


/* ============================================수정하기 오른쪽으로 옮기는거 마진으로 X==================== */
/* 조회수 댓글 묶음 */
.Count-area{
    display: flex;
    margin-left: 370px;
}

.Count-area > *{
    margin-right: 10px;
}

/* 조회수 */
.viewCount{
    display: flex;
}
/* 조회수 아이콘 */
#vcon{
    margin-top: 5px;

}


/* 댓글 */
.replyCount{
    display: flex;
}
/* 댓글 아이콘 */
#rcon{
    margin-top: 5px;

}





