

/* nav */
.nav{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.164);
    height: 55px;
    margin-left: 0;
    padding: 0 60px;
    margin-top: 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px 1px;

}
.nav > li{
    margin: 0 30px;
    padding-bottom: 3px;
}
.nav >li > a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.nav > li > a:hover{
    
    border-bottom: 1px solid gray;
    transform: scale(1.1);
    transition: 0.2s;
}


/* 실패,,,,,,, */
/* .container>ul>li>a:focus{

    text-decoration: underline yellow;
    text-decoration-style: wavy;
    text-decoration-thickness: 3px;
} */



