main{
    margin: auto;

    width: 1000px;
    height: 600px;
    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: var(--bg-color-2);
    transition-duration: 0.5s;
}

.Title{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 25px;
}



/* 이력서 영역 */
.resume-area{
    width: 740px;
    height: 260px;
    border-radius: 10px;
    border: dashed #8080806b;
    margin-top: 20px;
    margin-bottom: 30px;
}

.resume-area > * {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* 업로드 파일 input태그 */
.resume-area >:nth-child(2){
    color: rgb(0, 128, 255);
}

.resume-area > :nth-child(2):hover{
    cursor: pointer;
    text-decoration: underline;
}

.resume-area >:nth-child(4){
    font-size: smaller;
}

#icon{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#resumeInput{
    display: none;
}











/* ================================== 약관동의 영역 ================================*/

/* 정책 동의 글씨 */
.agree-area > :nth-of-type(1){
    font-size: large;
    font-weight: 600;
    margin-bottom: 3px;
    margin-top: 15px;
}



/* 이력서 활용에 대한 약관 및 정책에 동의해주세요 글씨 */
.agree-area > :nth-of-type(2){
    font-size: 0.875rem;
    margin-bottom: 10px;
}

/* 전체동의 */
.row1{
    font-weight: bold;
    margin-top: 20px;
}

.row2{
    margin-bottom: 10px;
}

/* 2, 3번 박스 */
.row23{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
}

/* ============팝업 영역============= */
/* 보기 버튼 */
.row23 > div > button{
    color: rgb(0, 128, 255);
    text-decoration: underline;
    margin-left: 10px;
    border: 0;
}

#see1popup{
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
     left: 0;
     right: 0;
     z-index: 1200;
     background-color: wheat;
     border: 5px inset black;
     width: 450px;
     height: 500px;
}

.popup{
    display: none;
}

















/* 마지막 박스 */
.row4{
    font-size: 14px;
}



/* 버튼 */
#saveBtn{
    margin-left: 543px;
    width: 200px;
    height: 50px;
    font-size: large;
    margin-top: 10px;
    background-color: rgb(0, 128, 255);
    color: white;
}




