main{
    width: 768px;
    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: var(--bg-color-2);
    transition-duration: 0.5s;
    margin-left: 20px;
    margin-top: 20px;
}
.Title{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 25px;
}
.ttt{
    display: flex;
    justify-content: center;
}
#side {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: sticky;
    top: 80px;
    width: 194px;
    height: fit-content;
}

#side > h6 {
    margin-bottom: 5px;
    color: rgb(180, 180, 180);
    font-size: 12px;
    letter-spacing: 1px;
}

#side > h6:not(h6:first-of-type) {
    padding-top: 10px;
    border-top: 1px solid var(--divider);
    margin-top: 10px;
}

#side > div {
    display: flex;
    align-items: center;
    padding: 4px 3px;
    margin: 2px 0;
    transition-duration: 0.3s;
}

#side > div > a {
    display: flex;
    align-items: center;
    margin-left: 5px;
    color: var(--text-color-2);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition-duration: 0.3s;
}

#side img {
    height: 16px;
    padding-right: 5px;
    transition-duration: 0.3s;
    filter: invert(50%);
} html.dark #side img {
    filter: invert(80%);
}

.category-selected {
    border-radius: 4px;
    background-color: rgba(0, 128, 255);
}

.category-selected img {
    filter: brightness(0) invert(100%) !important;
}

.category-selected > a {
    color: rgb(255, 255, 255) !important;
}

#main {
    width: 768px;
    height: 1024px;
    margin-left: 20px;
}


/* 게시글 목록 테이블을 감싸는 div */
.postList{
    width: 755px;
    height: 500px;
    border-radius: 5px;
    margin-top: 40px;

    overflow: auto;
}


/* 테이블 */
.tb{
    margin-left: 30px;
    margin-top: 5px;
    width: 700px;
    border-collapse: collapse;
}

tbody{
    border-bottom: 1px solid gray;
}

thead{
    line-height: 1rem;
}


.tb tr > *:nth-of-type(1){ width: 60%; text-align: start; cursor: pointer;} /* 제목 */

.tb > tbody tr > :nth-of-type(1):hover{
    border-bottom: 1px solid gray;
    font-size: large;
}

.tb tr > *:nth-of-type(2){ width: 16%; }    /* 작성일 */
.tb tr > *:nth-of-type(3){ width: 8%; }     /* 조회수 */
.tb tr > *:nth-of-type(4){ width: 8%; }      /* 댓글 */
.tb tr > *:nth-of-type(5){ width: 8%; }     /* 좋아요 */


.tb > tbody > tr{ 
    text-align: center;
    height: 50px;
    border-bottom: 1px solid #a9a9a9b5;

}
