#body-area{
    margin: 40px 100px;
}

#main-area{
    display: flex;
    justify-content: center;
    position: relative;
}

#left-area{
    position: sticky;
    top: 90px;
    
    width: 380px;
    height: 480px;
    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: var(--bg-color-2);
    transition-duration: 0.5s;
    
    margin-right: 20px;
}

.row-area{
    display: flex;
    flex-direction: column;

    padding: 5px;

    margin-bottom: 5px;

    height: 185px;
    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: var(--bg-color-2);
    transition-duration: 0.3s;
}

.row-area:hover{

    border: 1px solid #676fddb0;
    cursor: pointer;

    transform: scale(1);
}

.row1-1{
    display: flex;
}

.name-area{
    display: flex;
    flex-direction: column;

    font-size: 14px;
    font-weight: bold;

    width: 400px;

    margin-left: 5px;
}

.name{
    margin-top: 8px;
}

.nickname{
    font-size: 13px;
    color: rgba(100, 98, 98, 0.637);
}

.title{
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 5px;

    font-size: 16px;
    font-weight: bold;
}

.content{
    margin-left: 15px;
    font-size: 14px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}

.content span{
    font-size: 14px !important;
}

.row1-2{
    display: flex;
    height: 80px;
}

.text-area{
    display: flex;
    flex-direction: column;

    width: 420px;
}

.row1-3{
    display: flex;
    font-size: 14px;

    margin-top: 5px;

    color: #777575;
}

.number{
    font-size: 30px;
    font-weight: bold;
    width: 50px;

    text-align: center;
    line-height: 40px;

    margin-left: 10px;

    border-bottom: 1px solid gray;
}

.profile{
    width: 50px;

    margin-top: 5px;
    margin-left: 9px;
    margin-right: 9px;
}

.picture{
    width: 120px;
    margin-left: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.heart{
    margin-left: 10px;
    margin-right: 5px;
}

/* #main-title{
    font-size: 25px;
    font-weight: bold;

    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 5px;

    background: -webkit-linear-gradient(-70deg, #db469f 0%, #2188ff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
} */

#sub-title{
    font-size: 15px;
    color: grey;

    margin-left: 20px;
    margin-top: 20px;
}

.clicked {
    cursor: pointer;

    font-weight: bold;
    font-size: 30px;

    background: -webkit-linear-gradient(-70deg, #db469f 0%, #2188ff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#tag-area div{
    margin-top: 20px ;
    cursor: pointer;
}

#tag-area div:hover{
    margin-top: 20px ;
    background: -webkit-linear-gradient(-70deg, #db469f 0%, #2188ff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#userProfile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#pic{
    width: 85px;
    height: 85px;
}

#pic2{
    width: 70px;
    height: 70px;
}

.div2 {
    font-size: 20px;
    font-weight: bold;
    color: rgba(63, 62, 62, 0.808);
    
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.div1{
    margin-top: 50px;
}

i{
    margin-right: 8px;
    margin-left: 8px;

    color: rgba(63, 62, 62, 0.808);
}


/* 타이틀 실험중 */

h1 {
    margin-top: 30px;
    margin-left: 18px;
    margin-bottom: 15px;
}
  
h1 span {
    position: relative;

    top: 10px;
    display: inline-block;
    animation: bounce .3s ease infinite alternate;

    font-size: 28px;
    
    text-shadow: 0 1px 0 #CCC,
                 0 2px 0 #CCC,
                 0 3px 0 #CCC,
                 0 4px 0 #CCC,
                 0 5px 0 #CCC,
                 0 6px 0 transparent,
                 0 7px 0 transparent,
                 0 8px 0 transparent,
                 0 9px 0 transparent,
                 0 10px 10px rgba(0, 0, 0, .4);
  }
  
  h1 span:nth-child(1) { animation-delay: .4s; }
  h1 span:nth-child(2) { animation-delay: .5s; }
  h1 span:nth-child(3) { animation-delay: .6s; }
  h1 span:nth-child(4) { animation-delay: .7s; }
  h1 span:nth-child(5) { animation-delay: .8s; }
  h1 span:nth-child(6) { animation-delay: .9s; }
  h1 span:nth-child(7) { animation-delay: .10s; }
  h1 span:nth-child(8) { animation-delay: .10s; }
  h1 span:nth-child(9) { animation-delay: .10s; }
  
  @keyframes bounce {
    100% {
      top: -20px;
      text-shadow: 0 1px 0 #CCC,
                   0 2px 0 #CCC,
                   0 3px 0 #CCC,
                   0 4px 0 #CCC,
                   0 5px 0 #CCC,
                   0 6px 0 #CCC,
                   0 7px 0 #CCC,
                   0 8px 0 #CCC,
                   0 9px 0 #CCC,
                   0 50px 25px rgba(0, 0, 0, .2);
    }
  }
