* {box-sizing: border-box;}

/* 메인 */
#main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 글 상세 div + 인기 탑 10 div */
#main > #divContainer {
    width:1000px;
    display:flex;
    justify-content: space-between;
    margin:45px;
}

/* 글 상세 div */
#trandDetailContent{
    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: var(--bg-color-2);
    transition-duration: 0.5s;
    width:65%;
    padding:20px 20px;
}

/* 헤더 : 이미지 + 이름 / 소개 */
#postHeader{
    height:50px;
    display:flex;
    justify-content:flex-start;
    align-items: center;
}

/* 헤더이미지 */
#detailWriterImage{
    width:40px;
    height:40px;
    
    border-radius: 50%;
    cursor: pointer;
}

/* 이름 + 소개 */
#headerNameIntro{
    margin-left:5px;
    width:25%;
}

/* 이름 */
#nickName{
    font-size:16px;
}

/* 소개 */
#introduce{
    font-size:14px;
}

/* 팔로잉 버튼 담은 div */
#followButtonDiv{
    width:70%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height:100%;
}

/* 팔로우 버튼 */
#followBtn{
    width:65px;
    height:50%;
    border:1px solid black;
    border-radius: 10px;
}


/* 제목 */
#detailTitle{
    display:flex;
    align-items: center;
    height:50px;
    margin:10px 0;
    font-size:24px;
    font-weight:bold;


}

/* p태그 담은 div */
#pDiv{
    width:100%;
    margin-bottom:20px;
    font-size:bold;
}

/* 작성일 */
#writeDate{
    margin-bottom:10px;
    margin-top: 30px;

    font-size:bold;
    color: rgb(179, 178, 178);

}

/* 좋아요 북마크 게시글 수정 삭제 목록으로 */
#likeBookMarkUpdateDeleteBack{
    display:flex;
    height:60px;
    border-bottom: 1px solid lightgray;
}

/* 좋아요 북마크 담은 div */
#likeBookMark{
    width:50%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    height:60px;
}

#like{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right:20px;
    height:100%;

}

#likeCount{
    margin-left:3px;
    margin-left: 30px;
    font-size:18px;
    font-weight: bold;
}

#bookMark{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    margin-right:10px;
    margin-bottom: 20px;
}

.boardBtns{
    width:70px;
    height:30px;
    margin-right:8px;
    border:1px solid black;
}

#updateDeleteBack{
    width:50%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height:60px;

}

/* 댓글 전체 담는 div */
.replyContainer{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* 댓글 수 : */
#replyCount{
    margin:10px 0;
    padding-left: 3px;
    font-size:15px;
    font-weight: bold;
}

/* 댓글 하나 하나 */
.replys{
    border:2px solid rgb(240, 240, 240);
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding:8px 8px;
}

/* 이미지 + 이름 + 작성일 */
.inReplyfirstDiv{
    display:flex;
    width:32%;
    justify-content: space-between;
    align-items: center;
    margin-bottom:3px;
}

/* 이미지 */
.replyImages{
    width:40px;
    height:40px;
    border-radius: 50%;

    margin-right: 10px;
}

/* 작성자 */
#replyWriter{
    font-weight: bold;
    margin-right: 5px;

}

/* 작성일 */
#replyCreateDate{
    font-size:10px;
    color: rgb(139, 138, 138);
}

/* 댓글 내용 */
.replyContents{
    padding-left:5px;
    margin-bottom:3px;
}

/* 댓글 수정 삭제 대댓글 버튼담은 div */
.replyBtns{
    height:30px;
    text-align: right;
}

/* 댓글 버튼 하나하나  */
.replyBtn{
    border:1px solid black;
    width:70px;
    height:25px;
}


/* top 10 div */
 
/* 인기 탑 10 div */
#top10{
    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: var(--bg-color-2);
    transition-duration: 0.5s;
    width:30%;
    height:700px;
    padding:12px 12px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position: sticky;
    top: 90px;
}

/* 트렌드 인기 게시글 TOP 10 */
#top10HeaderText{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:18px;
    font-weight:bold;
    height:5%;
    
    margin-bottom: 10px;
}

/* top10에서의 1개 div */
.top10Posts{
    display:flex;
    width:100%;
    height:9.5%;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

/* 번호 */
.numbers{
    font-size: 23px;
    font-weight:  bold;
    display:flex;
    height:100%;
    width:20%;
    justify-content: center;
    align-items: center;
}

/* 작성자 이미지 담은 div */
.WriterImages{
    width:20%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:4px;
}

/* top10 작성자이미지 */
.WriterImages > img{
    width:40px;
    height:40px;
    border-radius: 50%;

    border: 1px solid #e0dede;

}

#top10WritersImage{
    width:35px;
    height:35px;
    margin-right: 20px;
}


/* 제목 + 이름 + 소개 */
.top10Texts{
    width:80%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-left: 8px;
}

/* 제목 */
.top10Title{
    font-size: 13px;
}

/* 이름 + 소개 */
 .top10WriterIntroduce{
    font-size:12px;
} 

/* 이름 */
 .top10WriterIntroduce > span{
    font-size:12px;
    font-weight: bold;

} 

#replyWrite{
    display:flex;
    
}

#replyWriteContent{
    width:80%;
    display:flex;
    height:50px;
    border:2px solid rgb(240, 240, 240);
}
#replyWriteContent > input{
    width:100%;
    height: 100%;
    border:0;
    outline:0;
    background-color: transparent;
}

#replyWriteBtn{
    width:20%;
    display:flex;
}


#replyWriteBtn > button{
    width:100%;
    height:100%;
    border:1px solid black;
    border-radius: 10px;
}


#bookMark:hover{
    cursor: pointer;
}

#like:hover{
    cursor: pointer;
}

* {box-sizing: border-box;}
#reply-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 
 .reply-list-area{
    /* width: 1000px; */
    min-height: 120px;
    border: 1px solid var(--divider);
    background-color: var(--bg-color-2);
    transition-duration: 0.5s;

    margin-bottom: 50px;

 }

 .reply-writer{
   display:flex;
 }
 
 #reply-list{
     padding: 0;
     list-style: none;
 }
 
 .reply-row{
     border-bottom: 1px solid #ccc;
 }
 
 .reply-writer > img{
    margin-left: 20px;
    margin-top: 10px;
     width: 40px;
     height: 40px;
     border-radius: 50px;
 }
 
 .reply-writer > span{
    font-weight: bold;
    margin-left: 10px;
    display: flex;
    margin-left: 8px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
 }
 
 .reply-date{
     font-size: 0.8em;
     color: #aaa;
 }
 
 .reply-btn-area{
     display: flex;
     justify-content: flex-end;
 }

 .reply-content{
    font-size: 17px;
    margin-left: 35px;
    margin-top: 5px;
    margin-bottom: 10px;
 }
 


 .reply-btn-area > button{
     width: 50px;
     height: 30px;
     margin-right: 5px;
     margin-bottom: 5px;
 
     font-weight: bold;
     color: white;
     background-color: rgb(124, 128, 126);
    
 
     cursor: pointer;
 }
 
 .reply-btn-area > button:hover{
     background-color: white;
     border: 2px solid rgb(78, 80, 79);
     color: rgb(78, 80, 79);
 }

 .reply-data{
    font-size: 12px;
    color: gray;
 }

 .reply-nick{
    font-size: 20px;
 }

 .fa-regular fa-comment{
    margin-left: 5px;
    margin-right: 8px;
 }

 .fa-solid fa-comment{
    margin-left: 5px;
    margin-right: 8px;
 }

 #comment{
    margin-right: 8px;
 }

.comment-write-area{
   width:100%;
   display:flex;
   justify-content: center;
   align-items: center;
   height:50px;
   margin:15px 0;
}

.comment-write-area > #commentContent{
   width:80%;
   height:100%;
   resize:none;
   border:0;
   outline:0;
   border: 2px solid rgba(122, 124, 123, 0.39);
}

.comment-write-area > #addComment{
   width:100px;
   height:100%;
}

 .child-comment{
   padding-left : 50px;
   position: relative;
}

.update-textarea{
   resize: none;
   border: 2px solid lightgray;
   width: 100%;
   height: 75px;
   border-radius: 10px;
   margin: 8px 0;

}

.commentInsertContent{
   resize: none;
   border: 2px solid lightgray;
   width: 100%;
   height: 75px;
   border-radius: 10px;
   margin: 8px 0;
}

#updateBtn{
    width: 50px;
     height: 30px;
     margin-right: 5px;
     margin-bottom: 5px;
 
     font-weight: bold;
     color: white;
     background-color: rgb(124, 128, 126);
    
 
     cursor: pointer;
}

#updateBtn:hover{
    background-color: white;
    border: 2px solid rgb(78, 80, 79);
    color: rgb(78, 80, 79);
}

#deleteBtn{
    width: 50px;
     height: 30px;
     margin-right: 5px;
     margin-bottom: 5px;
 
     font-weight: bold;
     color: white;
     background-color: rgb(124, 128, 126);
    
 
     cursor: pointer;
}

#deleteBtn:hover{
    background-color: white;
    border: 2px solid rgb(78, 80, 79);
    color: rgb(78, 80, 79);
}




/* 팔로우 모달창 */
#follow-button-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

#followBtn2{
    width: 90px;
    height: 40px;

    background-color: rgba(147, 147, 204, 0.856);


    margin-right: 10px;
    margin-top: 10px;
}



#messageBtn{
    width: 90px;
    height: 40px;

    margin-right: 10px;
    margin-top: 10px;
}

.report-area{
    display: none;
}

#follow-area{
    position: fixed;
    margin: auto;
    top: 200px;
    left: 490px;
    z-index: 1200;
    background-color: rgb(255, 255, 255);
    border: 1px inset rgb(0, 0, 0);
    border-radius: 10px;
    width: 310px;
    height: 470px;
}

.follow-area{
    display: none;
}

#close{
    font-size: 30px;
    display: flex;
    justify-content: end;
    margin-right: 10px;
    cursor: pointer;
}

#followImage{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid #a5a3a3;

    align-items: center;
    margin-left: 30px;
}

#follow-id{
    font-size: 23px;
    font-weight: bold;

    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 3px;
}

#follow-nick{
    font-size: 15px;

    margin-left: 20px;
    margin-bottom: 20px;
}

#follow-zone{
    display: flex;
    height: 100px;

    margin-left: 20px;
    font-size: 16px;
}

#follow-zone span{
    font-weight: bold;
}

#follow-image-area{
    height: 150px;
}

#follower{
    width: 120px;
}

#follow-button-area button:hover{
    background-color: rgb(129, 129, 214);
    color: white;
}

.followBtn{
    background-color: rgba(37, 37, 54, 0.856);
    color: white;

    width:65px;
    height:50%;
    border-radius: 10px;
}

#pDiv img{
    max-width:100% !important;
}
