* {box-sizing: border-box;}

/* 메인 */
#main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 메인 안 전부 다 담는 div */
#main > #divContainer {
    width:1000px;
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: var(--bg-color-2);
    transition-duration: 0.5s;
    margin:30px;
    padding: 20px 20px;
}

/* 게시판 이름들(공지, 자유, Q&A), 네비게이션 */
#boardNameList{
    display:flex;
    justify-content: space-around;
    height:80px;
    font-size:20px;
    font-weight:bold;
    align-items: center;
    border-bottom: 1px solid lightgray; 
    margin:10px 0;
    width:95%;
}

/* 게시판 이름 3개 */
.listNames{
    display:flex;
    justify-content: center;
    align-items: center;
    width:33.33%;
    height:90%;
    border-radius: 10px;
}

.listNames:hover{
    background-color: rgb(240, 240, 240);
}

/* 게시판이름, 게시글 목록 담는 div */
#postList{
    width:95%;
    display:flex;
    height:75px;
    margin:10px 15px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    overflow: hidden;
}

/* 게시판 이름 (3개중 하나) */
#postList > #boardName{
    font-size:25px;
    font-weight:bold;
    margin-left:15px;
}

/* 질문하기 버튼 */
#BoardInsert{
    display:block;
    width:100px;
    height:50px;
    font-size:18px;
    font-weight:bold;
    border: 2px solid black;
    border-radius: 10px;
    /* background-color: rgb(240, 240, 240); */
    color: black;
}

/* 검색바 담은 div */
#searchArea{
    margin:15px 0;
    width:95%;
    border:2px solid gray;
    border-radius: 10px;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 검색 input */
#searchInput{
   height:32px;
   width:90%;
   border:0;
   outline:0;
   background-color: transparent;
}

#searchInput::placeholder{
   font-size:18px;
}

.searchInputImage{
    width:30px;
    height:30px;
}

/* 조회수 탑 10 */
#top10{
    border:1px solid lightgray;
    border-radius: 10px;
    display:flex;
    width:95%;
    flex-direction: column;
    margin:30px 0;
}

/* 제목 */
#top10Title{
    font-size:22px; 
    font-weight: bold;
    margin-left:52px;
}

/* 제목 + 버튼 */
#top10TitleButton{
    margin-top:20px;
    display:flex;
    justify-content: space-between;
    overflow: hidden;
    position:relative;
}

/* swiper < 버튼 */
.swiper-button-prev{
    margin-left:770px;
}

/* swiper > 버튼 */
.swiper-button-next{
    margin-right:32px;
}

/* ? */
:root {
    --swiper-navigation-size: 0 !important; 
}

/* <, > 변경 */
.swiper-button-prev::before{color:black; content: "←" !important;}

.swiper-button-next::before{color:black; content: "→" !important;}

.swiper-button-prev::after{color:black; display: none !important;}

.swiper-button-next::after{color:black; display: none !important;}

/*스위퍼 container */
#swiper{
    height: 225px;
    overflow: hidden;
}

/* 스위퍼 wrapper */
#swiper .swiper-wrapper{
    height:200px;
}

/* swipper 1열 */
.swiper-slide {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

/* 게시글 2개씩 */
.post{
    margin:20px 10px;
    height:80px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/* top10 이미지 + 제목 */
.post > #directionRow{
    display:flex;
    margin-left:10px;
}

/* top10 1나의 제목, 조회, 댓글 */
#top10BoardTitle{
    margin-left:10px;
}

.top10LevelImage{
    height:40px;
    width:40px;
}

.top10Titles{
    display:flex;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: bold;
}

.top10Inquirys{
    display:flex;
    justify-content: flex-start;
    font-size:12px;
}

.post:hover{
    background-color: rgb(240, 240, 240);
}

/* 최신순서, 조회수 높은 순서 */
#sortOptions{
    display:flex;
    width:95%;
}

/* 최신순, 조회순 */
#sortOptions > a{
    display:block;
    text-decoration: none;
    color: #777;
    font-size: 18px;
    font-weight: bolder;
    margin-left:20px;
}

/* 게시글 10개 담은 div */
#post{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2개씩 한 행으로 배치 */
    gap: 30px; /* 각 게시물 간의 간격 */
    justify-content: center;
    align-items: center;
    margin-top:20px;
}

/* 게시글 10개중 하나 */
.posts{
    border: 1px solid lightgray;
    border-radius: 10px;
    height: 300px;
    width:440px;
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 15px 15px;
}

/* 이미지 + 작성자 + 직군 + 몇분전  div */
#postFirstpart{
    display:flex;
    height:46px;
}

/* 작성자 이미지 크기 */
.writerImages{
    width:46px;
    height:46px;
}

/* 작성자 + 직군 + 몇분전 div */
#firstPartRight{
    margin-left:10px;
}

/* 작성자 */
#firstPartRight > div:first-child{
    font-size:18px;
    font-weight:bolder;
}

/* 직군 + 몇분전 */
#firstPartRight > div:last-child{
    font-size:14px;
}

/* 몇분전 */
#minute{
    font-size:14px;
    font-weight:bold;
    /* color:#0080FF; */
}

/* 제목 */
#postSecondPart{
    margin-top:25px;
    font-size:20px;
    font-weight:bolder;
}

/* 내용 요약 */
#postThirdPart{
    margin-top:25px;
    font-size:16px;
}

.swiper-button-prev{
    size:30px;
}

/* 태그 */
#postFourthPart{
    margin-top:15px;
    color: #777;
    font-weight: bold;
    font-size:21px;
}

/* 조회수, 댓글 수 */
#postFifthPart{
    display:flex;
    justify-content: flex-end;
    color:#777;
    font-size:18px;
    font-weight:bold;
}

/* 조회수 */
#postFifthPart > #inquiryCount{
    margin-left: 10px;
}

/* 임시 페이지네이션 */
#pagination{
    display:flex;
    height:35px;
    justify-content: center;
    align-items: center;
    letter-spacing: 4px;
    /* color:#0080FF; */
    font-size:16px;
    font-weight:bold;
    margin-top:10px;
    margin-bottom: 30px;
}

/* 커서 포인터 */
#BoardInsert, .listNames, 
#postFirstPart, .post:hover{
    cursor: pointer;
}