#body-area{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 70px;
    margin-bottom: 15px;
}

#main-area{
    width: 1000px;
    height: 1150px;
    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: var(--bg-color-2);
    transition-duration: 0.5s;
}

#main-area p {
    margin: 0;
}

/* 카테고리 */
#main-area > p:nth-child(1){
    font-size: 25px;
    font-weight: bold;
    color: gray;
    margin-top: 15px;

    margin-left: 50px;
}

/* 제목 */
#main-area > p:nth-child(2){
    font-size: 30px;
    font-weight: bold;
    color: rgb(22, 21, 21);
    margin-top: 5px;

    margin-left: 50px;

}

#text{
   margin-left: 50px; 

    width: 900px; 
    height: 900px;

    margin-top: 20px;
    padding: 20px;

    border: 1px solid rgba(177, 175, 175, 0.425);
    border-radius: 10px;
}

#images{
    border: 1px solid rgba(177, 175, 175, 0.425);
    width: 300px;
    height: 300px;

    text-align: center;
    line-height: 300px;
}

#images-area{
    display: flex;

    justify-content: space-around;
}

#images-area div{
    border: 1px solid rgba(177, 175, 175, 0.425);

    text-align: center;
    line-height: 200px;

    width: 200px;
    height: 200px;
}

#heart{
    margin-top: 10px;
    display: flex;
}


#heart p{
    /* border: 1px solid black; */
    margin: 3px;
}

#heart-left{
    display: flex;
    width: 50%;
    justify-content: flex-start;

    margin-left: 50px;
}

#heart-right{
    display: flex;
    width: 50%;
    justify-content: flex-end;

    margin-right: 50px;
}

#heart-right>i{
    margin-left: 10px;
}


#heart-right>i:hover{
    cursor: pointer;
}

#tag{
    display: flex;
    margin-top: 15px;

}



#tag-area{

    display: flex;
    justify-content: space-between;

    margin-left: 50px;

}

#tag div{
    font-weight: bold;
    color: rgb(177, 175, 175);

    width: 80px;
    height: 30px;
    border: 1px solid rgb(177, 175, 175);
    border-radius: 10px;

    text-align: center; 
    margin-right: 8px;
}

#tag div:hover{

    cursor: pointer;

    color: white;
    background:  rgb(114, 112, 112);
}

#button-area button{
    font-weight: bold;
    color: rgb(177, 175, 175);

    font-size: 16px;

    width: 90px;
    height: 30px;
    border: 1px solid rgb(177, 175, 175);
    border-radius: 10px;

    
    margin-top: 15px;
    text-align: center; 
    margin-right: 10px;
}

#button-area button:hover{

    cursor: pointer;

    color: white;
    background:  rgb(114, 112, 112);
}



#button-area{
    margin-right: 50px;
}


#content{
    height: 300px;
 }


#reply{
    border: 1px solid black;
    height: 110px;
}

#profile{
    display: flex;
    height: 75px;

}

#profile>div:nth-child(1){
    width: 10%;
}

#profile>div:nth-child(2){
    width: 90%;
}

#reply div{
    border: 1px solid black;
}

i{
    margin-right: 2px;
}



/* 게시글 신고  */
#report-area{
    border: 1px solid black;

    width: 600px;
    height: 450px;
}

#report-title{
    font-size: 30px;
    font-weight: bold;

    padding-left: 30px;
    padding-bottom: 20px;
}

#report-area2{
    font-size: 15px;
    margin-left: 30px;
}

#report-area2 p{

    font-size: 17px;
    margin-bottom: 10px;
}

#report-area2 textarea{
    width: 640px;
    height: 300px;
}

#report-button-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

#reportBtn{
    width: 80px;
    height: 30px;

    margin-right: 10px;
    margin-top: 10px;
}

#cancelBtn{
    width: 80px;
    height: 30px;

    margin-right: 10px;
    margin-top: 10px;
}

.report-area{
    display: none;
}

#report-area{
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1200;
    background-color: white;
    border: 1px inset black;
    border-radius: 10px;
    width: 700px;
    height: 500px;
}

#close{
    font-size: 30px;
    display: flex;
    justify-content: end;
    margin-right: 10px;
    cursor: pointer;
}

