* {box-sizing: border-box;}
#reply-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:25px;
    width:90%;
 }
 
 .reply-list-area{
    width: 1000px;
    min-height: 120px;
    border: 1px solid var(--divider);
    border-radius: 10px;
    background-color: var(--bg-color-2);
    transition-duration: 0.5s;

    margin-bottom: 50px;

 }

 .reply-writer{
   display:flex;
 }
 
 #reply-list{
     padding: 0;
     list-style: none;
 }
 
 .reply-row{
     padding: 5px 5px;
     border-bottom: 1px solid #ccc;
 }
 
 .reply-writer > img{
    margin-left: 20px;
    margin-top: 10px;
     width: 40px;
     height: 40px;
     border-radius: 50px;
 }
 
 .reply-writer > span{
    font-weight: bold;
    margin-left: 10px;
    display: flex;
    margin-left: 8px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
 }
 
 .reply-date{
     font-size: 0.8em;
     color: #aaa;
 }
 
 .reply-btn-area{
     display: flex;
     justify-content: flex-end;
 }

 .reply-content{
    font-size: 17px;
    margin-left: 35px;
    margin-top: 10px;
 }

 .reply-data{
    font-size: 12px;
    color: gray;
 }

 .reply-nick{
    font-size: 20px;
 }

 .fa-regular fa-comment{
    margin-left: 5px;
    margin-right: 8px;
 }

 .fa-solid fa-comment{
    margin-left: 5px;
    margin-right: 8px;
 }

 #comment{
    margin-right: 8px;
 }

.comment-write-area{
   width:100%;
   display:flex;
   justify-content: center;
   align-items: center;
   height:80px;
   margin:15px 0;
}

.comment-write-area > #commentContent{
   width:80%;
   height:100%;
   resize:none;
   border:0;
   outline:0;
   border: 2px solid var(--divider);
   border-radius: 5px;
}

.comment-write-area > #addComment{
   width:100px;
   height:100%;
   background-color: rgb(78, 80, 79);
   font-weight: bold;
   color: white;
}

.reply-btn-area > button{
   width: 50px;
   height: 30px;
   margin-right: 10px;
   margin-bottom: 10px;

   font-weight: bold;
   color: white;
   background-color: rgb(78, 80, 79);
   border: 0;
   border-radius: 3px;

   cursor: pointer;
   transition-duration: 0.5S;
}

#addComment:hover{
   background-color: white;
   border: 2px solid rgb(78, 80, 79);
   color: rgb(78, 80, 79);
}  


 .child-comment{
   padding-left : 50px;
   position: relative;
}

.update-textarea{
   resize: none;
   border: 2px solid var(--divider);
   width: 100%;
   height: 75px;
   border-radius: 10px;
   margin: 8px 0;

}

.commentInsertContent{
   resize: none;
   border: 2px solid var(--divider);
   width: 100%;
   height: 75px;
   border-radius: 10px;
   margin: 8px 0;
}