/* #body-area{
    display: flex;
    justify-content: center;
    align-items: center;
} */

#report-area{
    border: 1px solid black;

    width: 600px;
    height: 450px;
}

#report-title{
    font-size: 30px;
    font-weight: bold;

    margin-left: 20px;
}

#report-area2{
    font-size: 15px;
    margin-left: 30px;
}

#report-area2 textarea{
    width: 530px;
    height: 200px;
}

#report-button-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

#reportBtn{
    width: 80px;
    height: 30px;

    margin-right: 10px;
    margin-top: 10px;
}

#cancelBtn{
    width: 80px;
    height: 30px;

    margin-right: 10px;
    margin-top: 10px;
}



